<div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
    <div class="file-item-icon">
        <i class="fa-solid fa-file-audio fa-3x fa-fw"></i>
    </div>
    <div class="file-item-text">
        <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
        <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
        <div v-if="hasSearch" class="file-item-sub-title">
            <span class="file-item-sub-title-icon">
                <i class="fa-solid fa-tag fa-fw"></i>
            </span>
            <span>{{item.searchDirPath}}</span>
        </div>
        <div class="file-item-description">
            <span>{{item.fileSize}}</span>
        </div>
    </div>
    <div class="file-item-trailing">
        <span v-if="item.hasHistory" class="badge-checked">
            <i class="fa-solid fa-check fa-fw"></i>
            @* <i class="fa-regular fa-circle-check fa-fw"></i> *@
            @* <i class="fa-solid fa-clock-rotate-left fa-fw"></i> *@
        </span>
    </div>
</div>