@page "/audio/{worknum}/{*path}"
@model Filer.Pages.AudioModel
@{
    Layout = "_Layout";
}

@section header {
    <link rel="stylesheet" href="package/videojs/7.10.2/video-js.min.css">
    <script src="package/videojs/7.10.2/video.min.js"></script>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

    <div id="app" class="layout">

        @await Html.PartialAsync("_HeaderPartial",
            new Header(HeaderMode.Theme))

        <div class="container">
            <div class="main file-main">
                <div class="main-inner">
                    <div class="board file-navbar sticky">
                        <div class="start">
                            <div class="file-navbar-btn">
                                @* <a :href="routeLink('folder', workNum, parentDirPath)">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a> *@
                                <a :href="routeLinkWithOrderBy('folder', workNum, parentDirPath)">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a>
                            </div>
                            <div class="file-navbar-title">{{fileName}}</div>
                            @*<div class="file-navbar-title-warp">
                                <div class="file-navbar-title">{{fileName}}</div>
                                <div class="file-navbar-title-over-warp">
                                    <div class="file-navbar-title-over">{{fileName}}</div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="file-video-warp">
                        <video-js id="player" class="video-js vjs-big-play-centered vjs-16-9"></video-js>
                    </div>
                </div>

                @await Html.PartialAsync("_FooterPartial")

            </div>
        </div>
    </div>

@section script {
    <script src="js/page/audio.js?v=@v"></script>
}