@page "/bookmark"
@model Filer.Pages.BookmarkModel
@{
    Layout = "_Layout";
}

@section title {
    <title>@Model.Title - Filer</title>
}

@section header {
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

<div id="app" class="layout">

@await Html.PartialAsync("_HeaderPartial",
    new Header(HeaderMode.Theme))

    <div class="container">
        <div class="main file-main">
            <div class="main-inner">
                <div class="board fw">
                    <div class="board-title">
                        <i class="fa-solid fa-bookmark fa-fw"></i>
                        <span>{{local.bookmark}}</span>
                    </div>
                </div>

                <div class="board fw board-toolbar">
                    <div class="start">
                        <button class="button light" type="button" v-on:click="createGroup">
                            <i class="fa-solid fa-plus fa-fw"></i>
                            <span>{{local.createGroup}}</span>
                        </button>
                    </div>
                    <div class="end">
                    </div>
                </div>

                <template v-if="isLoaded && bookmarks.groups.length>0">
                    <div v-for="group in bookmarks.groups" class="board fw bookmark-group"
                         v-bind:class="{open: group.expand}">
                        <div class="bookmark-group-title">
                            <div class="start">
                                <span class="expand">
                                    <i class="fa-solid fa-angle-down fa-fw"></i>
                                </span>
                                <span class="collapse">
                                    <i class="fa-solid fa-angle-right fa-fw"></i>
                                </span>
                                <a class="bookmark-group-title-text" href="javascript:void(0)" v-on:click="onBookmarkGroupClick(group)">
                                    <span>{{group.name}}</span>
                                </a>
                                @* <a class="bookmark-group-edit-button" href="javascript:void(0)" v-on:click="editGroup(group)">
                                    <i class="fa-solid fa-pen fa-fw"></i>
                                </a> *@
                            </div>
                            <div class="end">
                                <a class="bookmark-group-nav-button" href="javascript:void(0)" v-on:click="deleteGroup(group)">
                                    <i class="fa-solid fa-ellipsis-vertical fa-fw"></i>
                                </a>
                            </div>
                        </div>
                        <div v-if="group.items.length>0" class="bookmark-group-children">
                            @* <a v-for="(item, idx) in group.items" href="javascript:void(0)" v-on:click="onBookmarkClick(item)"> *@
                            <div v-for="(item, idx) in group.items" :key="item.url" v-on:click="onBookmarkClick(item)"
                                 draggable="true" v-on:dragstart="onDragStart(group, idx)" v-on:dragover.prevent v-on:drop="onDrop(group, idx)">
                                <div class="bookmark-item hover" 
                                     v-bind:class="{active: selected==item, first: idx==0, last: idx==group.items.length-1}">
                                    <div class="bookmark-item-icon">
                                        <i class="fa-solid fa-folder-minus fa-2x fa-fw"></i>
                                    </div>
                                    <div class="bookmark-item-text">
                                        <div class="bookmark-item-title">{{item.name}}</div>
                                        <div class="bookmark-item-sub-title">
                                            <span class="bookmark-item-sub-title-icon">
                                                <i class="fa-solid fa-tag fa-fw"></i>
                                            </span>
                                            <span>{{item.url}}</span>
                                        </div>
                                        <div class="bookmark-item-description"></div>
                                    </div>
                                    @* <div class="bookmark-item-link"> *@
                                    <a class="bookmark-item-link" :href="item.link" target="_blank" rel="noopener noreferrer">
                                        <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
                                    </a>
                                    <a class="bookmark-item-nav-button" href="javascript:void(0)">
                                        <i class="fa-solid fa-ellipsis-vertical fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            @await Html.PartialAsync("_FooterPartial")

        </div>
    </div>
</div>
<div class="toast-template">
    <div class="toast-block">
        <div class="toast-inner">__data-content__</div>
    </div>
</div>

@section script {
    <script src="js/page/bookmark.js?v=@version"></script>
}