@page "/bookmark"
@model Filer.Pages.BookmarkModel
@{
    Layout = "_Layout";
}

@section title {
    <title>@Model.Title - Filer</title>
}

@section header {
    <script src="package/sortable/1.15.6/sortable.min.js"></script>
    <script src="package/vue-draggable/2.24.3/vuedraggable.umd.min.js"></script>
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

<div id="app" class="layout">

@await Html.PartialAsync("_HeaderPartial",
    new Header(HeaderMode.Theme))

    <div class="container">
        <div class="main file-main">
            <div class="main-inner">
                <div class="board fw">
                    <div class="board-title">
                        <i class="fa-solid fa-bookmark fa-fw"></i>
                        <span>{{local.bookmark}}</span>
                    </div>
                </div>
                <div class="board fw board-toolbar">
                    <div class="board-toolbar-scrollable">
                        <div class="start">
                            <button class="button light" type="button" v-on:click="createGroup">
                                <i class="fa-solid fa-plus"></i>
                                <span class="title">{{local.createGroup}}</span>
                                @* <span class="title-short">{{local.create}}</span> *@
                            </button>
                            <input type="file" ref="file" v-on:change="onFileChange"
                                   accept="application/json" style="display: none;" />
                            <button class="button light" type="button" v-on:click="_import">
                                @* <i class="fa-solid fa-indent"></i> *@
                                <span>Import</span>
                            </button>
                            <button class="button light last" type="button" v-on:click="_export">
                                @* <i class="fa-solid fa-outdent"></i> *@
                                <span>Export</span>
                            </button>
                        </div>
                        <div class="end">
                            <button class="button light" type="button" v-on:click="sync">
                                @* <i class="fa-solid fa-arrow-down"></i> *@
                                @* <i class="fa-solid fa-download"></i> *@
                                <i class="fa-solid fa-rotate"></i>
                                @* <span>Download</span> *@
                            </button>
                            <button class="button light" type="button" v-on:click="backup">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                @* <span>Upload</span> *@
                            </button>
                        </div>
                    </div>
                </div>
                <template v-if="isLoaded && bookmarks.groups.length>0">
                    <draggable v-model="bookmarks.groups" :animation="200" filter=".bookmark-group-children"
                               :group="{ name: 'groups', pull: false, put: false }"
                               ghost-class="drag-ghost" chosen-class="drag-chosen" drag-class="dragging"
                               :force-fallback="true" v-on:choose="onDragChoose" v-on:change="onDragChange"
                               :delay="500" :delay-on-touch-only="true" :touch-start-threshold="5"
                               :swap-threshold="0.5" direction="vertical">
                        <transition-group name="list" tag="div">
                            <div v-for="group in bookmarks.groups" :key="group.name" class="board fw bookmark-group"
                                 v-bind:class="{open: group.expand}">
                                <div class="bookmark-group-title">
                                    <div class="start">
                                        <span class="expand">
                                            <i class="fa-solid fa-angle-down fa-fw"></i>
                                        </span>
                                        <span class="collapse">
                                            <i class="fa-solid fa-angle-right fa-fw"></i>
                                        </span>
                                        <a class="bookmark-group-title-text" href="javascript:void(0)" v-on:click="onGroupClick(group)">
                                            <span>{{group.name}}</span>
                                        </a>
                                    </div>
                                    <div class="end">
                                        <v-dropdown-menu template=".dropdown-menu-template" placement="left"
                                                         :stop-propagation="true" :enable-select="false"
                                                         :options="groupMenuOptions"
                                                         v-on:change="(ele, val) => onGroupMenuChange(val, group)">
                                            <a class="bookmark-group-menu-button" href="javascript:void(0)">
                                                <i class="fa-solid fa-ellipsis-vertical fa-fw"></i>
                                            </a>
                                        </v-dropdown-menu>
                                    </div>
                                </div>
                                <div class="bookmark-group-children">
                                    <draggable v-model="group.items" :animation="200"
                                               :group="{ name: 'bookmarks', pull: true, put: true }"
                                               ghost-class="drag-ghost" chosen-class="drag-chosen" drag-class="dragging" 
                                               :force-fallback="true" v-on:choose="onDragChoose" v-on:change="onDragChange"
                                               :delay="500" :delay-on-touch-only="true" :touch-start-threshold="5"
                                               :swap-threshold="0.5" direction="vertical">
                                        <transition-group name="list" tag="div">
                                            <div v-for="(item, idx) in group.items" :key="item.url" v-on:click="onBookmarkClick(item)">
                                                <div class="bookmark-item hover"
                                                     v-bind:class="{active: selected==item, first: idx==0, last: idx==group.items.length-1}">
                                                    <div class="bookmark-item-icon">
                                                        <i class="fa-solid fa-folder-minus fa-2x fa-fw"></i>
                                                    </div>
                                                    <div class="bookmark-item-text">
                                                        <div class="bookmark-item-title">{{item.name}}</div>
                                                        <div class="bookmark-item-sub-title">
                                                            <span class="bookmark-item-sub-title-icon">
                                                                <i class="fa-solid fa-tag fa-fw"></i>
                                                            </span>
                                                            <span>{{item.url}}</span>
                                                        </div>
                                                        <div class="bookmark-item-description"></div>
                                                    </div>
                                                    <a class="bookmark-item-link" :href="item.link" target="_blank" rel="noopener noreferrer">
                                                        <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
                                                    </a>
                                                    <a class="bookmark-item-menu-button" href="javascript:void(0)">
                                                        <i class="fa-solid fa-ellipsis-vertical fa-fw"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </draggable>
                                </div>
                            </div>
                        </transition-group>
                    </draggable>
                </template>
            </div>

            @await Html.PartialAsync("_FooterPartial")

        </div>
    </div>
</div>
<div class="toast-template">
    <div class="toast-block">
        <div class="toast-inner">__data-content__</div>
    </div>
</div>
<div class="dropdown-menu-template">
    <div class="dropdown-menu-block">
        <div class="dropdown-menu">
        </div>
    </div>
</div>

@section script {
    <script src="js/page/bookmark.js?v=@version"></script>
}