@page "/bookmark"
@model Filer.Pages.BookmarkModel
@{
    Layout = "_Layout";
}

@section title {
    <title>@Model.Title - Filer</title>
}

@section header {
    <link rel="stylesheet" href="package/vue-animate/3.0.2/vue-animate.min.css">
    <script src="package/sortable/1.15.6/sortable.min.js"></script>
    <script src="package/vue-draggable/2.24.3/vuedraggable.umd.min.js"></script>
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

<div id="app" class="layout">

@await Html.PartialAsync("_HeaderPartial",
    new Header(HeaderMode.Theme))

    <div class="container">
        <div class="main file-main">
            <div class="main-inner">
                <div class="board fw">
                    <div class="board-title">
                        <i class="fa-solid fa-bookmark fa-fw"></i>
                        <span>{{local.bookmark}}</span>
                    </div>
                </div>
                <div class="board fw board-toolbar">
                    <div class="board-toolbar-scrollable">
                        <div class="start">
                            <button class="button light" type="button" v-on:click="createGroup">
                                <i class="fa-solid fa-plus"></i>
                                @* <span class="title">{{local.createGroup}}</span>
                                <span class="title-short">{{local.create}}</span> *@
                                <span>{{local.createGroup}}</span>
                            </button>
                            <button class="button light bookmark-import-button" type="button" v-on:click="_import">
                                @* <i class="fa-solid fa-indent"></i> *@
                                <span>{{local.import}}</span>
                            </button>
                            <button class="button light last bookmark-export-button" type="button" v-on:click="_export">
                                @* <i class="fa-solid fa-outdent"></i> *@
                                <span>{{local.export}}</span>
                            </button>
                        </div>
                        <div class="end">
                            <button class="button light" type="button" v-on:click="sync">
                                @* <i class="fa-solid fa-arrow-down"></i> *@
                                @* <i class="fa-solid fa-download"></i> *@
                                <i class="fa-solid fa-rotate"></i>
                                @* <span>Download</span> *@
                            </button>
                            <button class="button light" type="button" v-on:click="backup">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                @* <span>Upload</span> *@
                            </button>
                        </div>
                    </div>
                </div>
                <template v-if="isLoaded && bookmarks.groups.length>0">
                    <draggable v-model="bookmarks.groups" :animation="200" filter=".bookmark-group-children"
                               :group="{ name: 'groups', pull: false, put: false }"
                               ghost-class="drag-ghost" chosen-class="drag-chosen" drag-class="dragging"
                               :force-fallback="true" v-on:choose="onDragChoose" v-on:change="onDragChange"
                               :delay="500" :delay-on-touch-only="true" :touch-start-threshold="5"
                               :swap-threshold="0.5" direction="vertical">
                        <transition-group name="list" tag="div">
                            <div v-for="group in bookmarks.groups" :key="group.name" class="board fw bookmark-group"
                                 v-bind:class="{open: group.expand}">
                                <div class="bookmark-group-title">
                                    <div class="start">
                                        <span class="expand">
                                            <i class="fa-solid fa-angle-down fa-fw"></i>
                                        </span>
                                        <span class="collapse">
                                            <i class="fa-solid fa-angle-right fa-fw"></i>
                                        </span>
                                        <a class="bookmark-group-title-text" href="javascript:void(0)" v-on:click="onGroupClick(group)">
                                            <span>{{group.name}}</span>
                                        </a>
                                    </div>
                                    <div class="end">
                                        <v-dropdown-menu template=".dropdown-menu-template" placement="left"
                                                         :stop-propagation="true" :enable-select="false"
                                                         :options="groupMenuOptions"
                                                         v-on:change="(ele, val) => onGroupMenuChange(val, group)">
                                            <button class="icon-button round bookmark-group-menu-button" type="button">
                                                <i class="fa-solid fa-ellipsis-vertical fa-fw"></i>
                                            </button>
                                        </v-dropdown-menu>
                                    </div>
                                </div>
                                <div class="bookmark-group-children">
                                    <draggable v-model="group.items" :animation="200"
                                               :group="{ name: 'bookmarks', pull: true, put: true }"
                                               ghost-class="drag-ghost" chosen-class="drag-chosen" drag-class="dragging" 
                                               :force-fallback="true" v-on:choose="onDragChoose" v-on:change="onDragChange"
                                               :delay="500" :delay-on-touch-only="true" :touch-start-threshold="5"
                                               :swap-threshold="0.5" direction="vertical">
                                        <transition-group name="list" tag="div">
                                            <div v-for="(item, idx) in group.items" :key="item.url" v-on:click="onBookmarkClick(item)">
                                                <div class="bookmark-item hover"
                                                     v-bind:class="{active: selected==item}">
                                                    <div class="bookmark-item-icon">
                                                        <i class="fa-solid fa-folder-minus fa-2x fa-fw"></i>
                                                    </div>
                                                    <div class="bookmark-item-text">
                                                        <div class="bookmark-item-title">{{item.name}}</div>
                                                        <div class="bookmark-item-sub-title">
                                                            <span class="bookmark-item-sub-title-icon">
                                                                <i class="fa-solid fa-tag fa-fw"></i>
                                                            </span>
                                                            <span>{{item.url}}</span>
                                                        </div>
                                                        <div class="bookmark-item-description"></div>
                                                    </div>
                                                    <div class="bookmark-item-trailing">
                                                        <div class="bookmark-item-trailing-block">
                                                            <a class="icon-button round bookmark-item-link" :href="item.link" target="_blank" rel="noopener noreferrer" v-on:click.stop="onLinkClick">
                                                                <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
                                                            </a>
                                                            <a class="icon-button round danger bookmark-item-menu-button" href="javascript:void(0)" v-on:click.stop="deleteBookmark(group, item)">
                                                                @* <i class="fa-solid fa-ellipsis-vertical fa-fw"></i> *@
                                                                <i class="fa-solid fa-trash fa-fw"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </draggable>
                                </div>
                            </div>
                        </transition-group>
                    </draggable>
                </template>
            </div>

            @await Html.PartialAsync("_FooterPartial")

        </div>
    </div>
</div>
<div class="toast-template">
    <div class="toast-block">
        <div class="toast-inner">__data-content__</div>
    </div>
</div>
<div class="dropdown-menu-template">
    <div class="dropdown-menu-block">
        <div class="dropdown-menu">
        </div>
    </div>
</div>
<div class="modal-template confirm">
    <div class="modal-backdrop">
        <div class="modal modal-sm">
            <div class="modal-block">
                @* <div class="modal-header">
                    <div class="start">
                        <div class="modal-header-title">__data-title__</div>
                    </div>
                    <div class="end">
                    </div>
                </div> *@
                <div class="modal-scrollable">
                    <div class="modal-body tight first text-lg">
                        <div>__data-title__</div>
                        <div class="modal-body-description">__data-content__</div>
                    </div>
                    <div class="modal-body relax tight last">
                        <div class="alert light">
                            <span class="alert-icon">
                                <i class="fa-regular fa-lightbulb fa-fw"></i>
                            </span>
                            <span class="alert-text">__data-alertText__</span>
                            @* <span class="alert-text">
                                <span>※ __data-noteWithColon__</span><span>__data-alertText__</span>
                            </span> *@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer-scrollable">
                            <div class="start"></div>
                            <div class="end">
                                <button type="button" data-close="cancel" class="modal-button light btn-sm">__data-cancelText__</button>
                                <button type="button" data-close="confirm" class="modal-button dark btn-sm">__data-confirmText__</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-template import" v-pre>
    <div class="modal-backdrop">
        <div class="modal modal-lg">
            <div class="modal-block">
                <div class="modal-scrollable">
                    <div class="modal-body first text-lg">
                        <div>{{title}}</div>
                    </div>
                    <div class="modal-form">
                        <div class="form-field tight">
                            <label class="file-picker light" v-bind:class="{selected: hasFile}">
                                <input type="file" ref="file" v-on:change="fileChange" accept="application/json" />
                                <span class="file-picker-choose-block">
                                    <span class="file-picker-icon">
                                        <i class="fa-solid fa-file-circle-plus fa-2x fa-fw"></i>
                                    </span>
                                    @* <span>Click to choose file.</span> *@
                                    <span>{{clickToChooseFile}}</span>
                                </span>
                                <span class="file-picker-selected-block">
                                    @* <span>{{selected}}</span><span>(1)</span> *@
                                    <span>{{fileName}}</span>
                                </span>
                            </label>
                        </div>
                        <div class="form-field tight">
                            <!-- <label class="checkbox hover"> -->
                            <label class="checkbox">
                                <input type="checkbox" v-model="isClearExisting">
                                <span class="checkbox-mark">
                                    <svg width="18" height="18" viewBox="0 0 18 18">
                                        <g fill="none" fill-rule="evenodd">
                                            <polyline stroke-width="2" points="3.5 9.5 7 13 15 5"></polyline>
                                        </g>
                                    </svg>
                                </span>
                                @* <span class="checkbox-text">Clear existing bookmarks.</span> *@
                                <span class="checkbox-text">{{checkboxText}}</span>
                            </label>
                        </div>
                    </div>
                    <transition name="fade" leave-active-class="">
                        <div v-if="isClearExisting" class="modal-body relax" style="--animate-duration: .5s;">
                            <div class="alert light">
                                <span class="alert-icon">
                                    <i class="fa-regular fa-lightbulb fa-fw"></i>
                                </span>
                                <span class="alert-text">
                                    <span>{{alertText}}</span>
                                </span>
                            </div>
                        </div>
                    </transition>
                    <div class="separator"></div>
                    <div class="modal-footer">
                        <div class="modal-footer-scrollable">
                            <div class="start"></div>
                            <div class="end">
                                <button type="button" data-close="cancel" class="modal-button light btn-sm">{{cancelText}}</button>
                                <button type="button" class="modal-button dark btn-sm"
                                        v-bind:disabled="!hasFile" v-on:click="confirm">{{confirmText}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="js/page/bookmark.js?v=@version"></script>
}