@page "/folder/{workNum}/{*path}"
@model Filer.Pages.FolderModel
@{
    Layout = "_Layout";
}

@section title {
    <title>@Model.Title - Filer</title>
}

@section header {
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>

    <script>
        @* var initialEncodeData = JSON.parse(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.EncodeData))); *@
        var initialEncodeData = @Html.Raw(Model.EncodeData);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

<div id="app" class="layout">

@await Html.PartialAsync("_HeaderPartial", 
    new Header(HeaderMode.Theme, "folder"))

    <div class="container">
        <div class="main file-main">
            <div class="main-inner">

                @await Html.PartialAsync("_NavbarInfoPartial")

                <div class="board file-navbar sticky over">
                    <div class="start mw-1x">
                        <template v-if="!hasSearch">
                            <a v-if="dirPath==''" href="" class="file-navbar-btn">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                            <a v-if="dirPath!=''" :href="routeLink('folder', workNum, parentDirPath)" class="file-navbar-btn">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                            @* <a v-if="dirPath!=''" :href="routeLinkWithOrderBy('folder', workNum, parentDirPath)" class="file-navbar-btn">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a> *@
                        </template>
                        <template v-if="hasSearch">
                            <a :href="routeLink('folder', workNum, dirPath)" class="file-navbar-btn">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                        </template>
                        <div class="file-navbar-title-wrap mw-1x">
                            <template v-if="!hasSearch">
                                <div class="file-navbar-title">{{dirNameTitle}}</div>
                                <div class="file-navbar-title-over-wrap">
                                    <div class="file-navbar-title-over">{{dirNameTitle}}</div>
                                </div>
                            </template>
                            <template v-if="hasSearch">
                                <div class="file-navbar-title">{{local.search}} : {{searchText}} ({{dirNameTitle}})</div>
                                <div class="file-navbar-title-over-wrap">
                                    <div class="file-navbar-title-over">{{local.search}} : {{searchText}} ({{dirNameTitle}})</div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div></div>
                    <div class="end">
                        <div class="file-navbar-gotop-wrap">
                            <a href="javascript:void(0)" class="file-navbar-btn file-navbar-toggle">
                                <span class="collapse">
                                    <i class="fa-solid fa-angle-up fa-fw"></i>
                                </span>
                                <span class="expand">
                                    <i class="fa-solid fa-angle-down fa-fw"></i>
                                </span>
                            </a>
                            <a href="javascript:void(0)" class="file-navbar-btn file-navbar-gotop">
                                <i class="fa-regular fa-circle-up fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_NavbarExpandPartial", new Header("folder"))

                <div v-if="isLoaded && datas.length>0">
                    <div v-for="(item, idx) in datas" :key="item.path">
                        <div v-if="viewMode=='view'" class="view-mode">
                            @await Html.PartialAsync("_FolderViewPartial")
                        </div>
                        <div v-if="viewMode=='thumbnail'">
                            @await Html.PartialAsync("_FolderThumbnailPartial")
                        </div>
                        <div v-if="viewMode=='download'">
                            @await Html.PartialAsync("_FolderDownloadPartial")
                        </div>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_FooterPartial")
            
        </div>
    </div>
</div>
<div class="control">
    <a class="button gotop" href="javascript:void(0)">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>
<div class="toast-template">
    <div class="toast-block">
        <div class="toast-inner">__data-content__</div>
    </div>
</div>
<div class="toast-template search-input-toast">
    <div class="toast-block">
        <div class="toast-inner search-input-error">
            <span class="search-input-error-icon">
                <i class="fa-solid fa-circle-exclamation fa-fw"></i>
            </span>
            <span>__data-content__</span>
            <div class="alert light center">
                <span class="alert-text">
                    &#92; &#47; &#58; &#42; &#63; &quot; &lt; &gt; &#124;
                </span>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="js/page/folder.js?v=@version"></script>
}