@page "/folder/{workNum}/{*path}"
@model Filer.Pages.FolderModel
@{
    Layout = "_Layout";
}

@section title {
    <title>@Model.Title - Filer</title>
}

@section header {
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>

    <script>
        @* var initialEncodeData = JSON.parse(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.EncodeData))); *@
        var initialEncodeData = @Html.Raw(Model.EncodeData);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

<div id="app" class="layout">

@await Html.PartialAsync("_HeaderPartial", 
    new Header(HeaderMode.Theme, "folder"))

    <div class="container">
        <div class="main file-main">
            <div class="main-inner">

                @await Html.PartialAsync("_NavbarInfoPartial")

                <div class="board file-navbar sticky over">
                    <div class="start mw-2x">
                        <template v-if="!hasSearch">
                            <a v-if="dirPath==''" href="" class="file-navbar-btn left">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                            <a v-if="dirPath!=''" :href="routeLink('folder', workNum, parentDirPath)" class="file-navbar-btn left">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                            @* <a v-if="dirPath!=''" :href="routeLinkWithOrderBy('folder', workNum, parentDirPath)" class="file-navbar-btn left">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a> *@
                        </template>
                        <template v-if="hasSearch">
                            <a :href="routeLink('folder', workNum, dirPath)" class="file-navbar-btn left">
                                <i class="fa-solid fa-arrow-left fa-fw"></i>
                            </a>
                        </template>
                        <div class="file-navbar-title-wrap mw-title">
                            <template v-if="!hasSearch">
                                <div class="file-navbar-title">{{dirNameTitle}}</div>
                                <div class="file-navbar-title-over-wrap">
                                    <div class="file-navbar-title-over">{{dirNameTitle}}</div>
                                </div>
                            </template>
                            <template v-if="hasSearch">
                                <div class="file-navbar-title">{{local.search}} : {{searchText}} ({{dirNameTitle}})</div>
                                <div class="file-navbar-title-over-wrap">
                                    <div class="file-navbar-title-over">{{local.search}} : {{searchText}} ({{dirNameTitle}})</div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div></div>
                    <div class="end">
                        @* <template v-if="!hasSearch">
                            <a v-if="!bookmark" href="javascript:void(0)" v-on:click="saveBookmark" class="file-navbar-btn right">
                                <i class="fa-regular fa-star fa-fw"></i>
                            </a>
                            <a v-if="bookmark" href="javascript:void(0)" v-on:click="removeBookmark" class="file-navbar-btn right">
                                <i class="fa-solid fa-star fa-fw"></i>
                            </a>
                        </template> *@
                        <template v-if="!hasSearch">
                            <popover template=".bookmark-popover-template" placement="bottomRight"
                                     :stop-propagation="true"
                                     v-on:init="(_popover) => onBookmarkInit(_popover)">
                                <a href="javascript:void(0)" class="file-navbar-btn right">
                                    <i v-if="!bookmark" class="fa-regular fa-star fa-fw"></i>
                                    <i v-if="bookmark" class="fa-solid fa-star fa-fw"></i>
                                </a>
                                <div></div>
                            </popover>
                        </template>
                        <div class="file-navbar-gotop-wrap">
                            <a href="javascript:void(0)" class="file-navbar-btn file-navbar-toggle last">
                                <span class="collapse">
                                    <i class="fa-solid fa-angle-up fa-fw"></i>
                                </span>
                                <span class="expand">
                                    <i class="fa-solid fa-angle-down fa-fw"></i>
                                </span>
                            </a>
                            <a href="javascript:void(0)" class="file-navbar-btn file-navbar-gotop last">
                                <i class="fa-regular fa-circle-up fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_NavbarExpandPartial", new Header("folder"))

                <div v-show="isDataStreaming">
                    <div class="file-data-stream-loading">
                        <span>{{local.loading}}...</span>
                        <div class="spinner"></div>
                    </div>
                </div>

                <div v-if="isLoaded && datas.length>0">
                    @* <div v-for="(item, idx) in datas" :key="item.path"> *@
                    <div v-for="(item, idx) in datas" :key="item.id">
                        <div v-if="viewMode=='view'" class="view-mode">
                            @await Html.PartialAsync("_FolderViewPartial")
                        </div>
                        <div v-if="viewMode=='thumbnail'">
                            @await Html.PartialAsync("_FolderThumbnailPartial")
                        </div>
                        <div v-if="viewMode=='download'">
                            @await Html.PartialAsync("_FolderDownloadPartial")
                        </div>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_FooterPartial")
            
        </div>
    </div>
</div>

@await Html.PartialAsync("_Template/_GotopPartial")
@await Html.PartialAsync("_Template/_ToastPartial")
@await Html.PartialAsync("_Template/_SearchInputToastPartial")

<div class="modal-template clear-history-confirm" v-pre>
    <div class="modal-backdrop">
        <div class="modal modal-sm">
            <div class="modal-block">
                <div class="modal-scrollable">
                    <div class="modal-body tight first text-lg">
                        <div>{{title}}</div>
                        @* <div class="modal-body-description">{{content}}</div> *@
                    </div>
                    <div class="modal-form">
                        <div class="form-field tight">
                            <!-- <label class="checkbox hover"> -->
                            <label class="checkbox">
                                <input type="checkbox" v-model="isClearSubdirectory">
                                <span class="checkbox-mark">
                                    <svg width="18" height="18" viewBox="0 0 18 18">
                                        <g fill="none" fill-rule="evenodd">
                                            <polyline stroke-width="2" points="3.5 9.5 7 13 15 5"></polyline>
                                        </g>
                                    </svg>
                                </span>
                                <span class="checkbox-text">{{checkboxText}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-body relax tight last">
                        <div class="alert light">
                            <span class="alert-icon">
                                <i class="fa-regular fa-lightbulb fa-fw"></i>
                            </span>
                            <span class="alert-text">
                                <span>{{alertText}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer-scrollable">
                            <div class="start"></div>
                            <div class="end">
                                <button type="button" data-close="cancel" class="modal-button light btn-sm">{{cancelText}}</button>
                                <button type="button" class="modal-button dark btn-sm" v-on:click="confirm">{{confirmText}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-template bookmark-popover-template" v-pre>
    <div class="popover-block bookmark-popover">
        <div class="popover-inner">
            <div class="popover-scrollable">
                <div v-for="group in groups" v-on:click="onItemClick(group)" class="popover-item">
                    <span class="popover-item-text">{{group.name}}</span>
                    <span class="popover-item-trailing">
                        <i v-if="group!=selected" class="fa-regular fa-star"></i>
                        <i v-if="group==selected" class="fa-solid fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="js/page/folder.js?v=@version"></script>
}