@page "/text/{worknum}/{*path}"
@model Filer.Pages.TextModel
@{
    Layout = "_Layout";
}

@section header {
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTextTheme()</script>
}

    <div id="app" class="layout">

        @await Html.PartialAsync("_HeaderPartial",
            new Header(HeaderMode.TextTheme))

        <div class="container">
            <div class="main file-main">
                <div class="main-inner">
                    <div class="board file-navbar sticky">
                        <div class="start mw-1x">
                            <div class="file-navbar-btn">
                                <a :href="routeLink('folder', workNum, parentDirPath)">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a>
                                @* <a :href="routeLinkWithOrderBy('folder', workNum, parentDirPath)">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a> *@
                            </div>
                            <div class="file-navbar-title-warp mw-1x">
                                <div class="file-navbar-title">{{fileName}}</div>
                                <div class="file-navbar-title-over-warp">
                                    <div class="file-navbar-title-over">{{fileName}}</div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="end">
                            <div class="file-navbar-btn file-navbar-gotop">
                                <a href="javascript:void(0)">
                                    <i class="fa-regular fa-circle-up fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block file-text-content">@Model.Context</div>
                </div>

                @await Html.PartialAsync("_FooterPartial")

            </div>
        </div>
    </div>
    <div class="control">
        <a class="button gotop" href="javascript:void(0)">
            <i class="fa-solid fa-angle-up"></i>
        </a>
    </div>

@section script {
    <script src="js/page/text.js?v=@v"></script>
}