body {
}

.layout {
    opacity: 0;
}

/*----- nav -----*/

.nav-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.nav-logo {
    margin: 0px 0px 0px 0px;
    height: 45px;
    position: relative;
}

    .nav-logo.cicle img {
        height: 45px;
        filter: brightness(1);
    }

.nav-logo-wrap {
    margin-left: 8px;
}

.nav-logo-inner {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.nav-logo-placeholder {
    width: 10px;
}

/*----- nav -----*/

/*----- header -----*/

@media screen and (max-width: 640px) {
    .header .end {
        padding-right: 5px;
    }
}

/*----- header -----*/

/*----- setting-button -----*/

@media screen and (max-width: 640px) {
    .setting-button {
        margin-right: 5px;
    }
}

/*----- setting-button -----*/

/*----- search-input-error -----*/

.search-input-error {
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    margin: 0 auto;
    line-height: 2;
}

.search-input-error-icon {
    padding-right: 5px;
    color: #ffd43b;
}

/*----- search-input-error -----*/