body {
}

.layout {
    opacity: 0;
}

/*----- nav -----*/

.nav-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.nav-logo {
    margin: 0px 0px 0px 0px;
    height: 45px;
    position: relative;
}

    .nav-logo.cicle img {
        height: 45px;
        filter: brightness(1);
    }

.nav-logo-wrap {
    margin-left: 8px;
}

.nav-logo-inner {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.nav-logo-placeholder {
    width: 10px;
}

/*----- nav -----*/

/*----- draggable -----*/

.drag-ghost {
    opacity: 0;
}

/*.drag-chosen {
    
}*/

/*.dragging {

}*/

/*----- draggable -----*/

/*----- bookmark -----*/

@media screen and (max-width: 640px) {
    .bookmark-import-button {
        display: none;
    }

    .bookmark-export-button {
        display: none;
    }
}

/*----- bookmark -----*/

/*----- file-image-block -----*/

/*.file-image-block img {
    transition: opacity .3s ease-in-out;
}*/

/*----- file-image-block -----*/

/*----- file-data-stream-loading -----*/

.file-data-stream-loading {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    font-size: .8rem;
    font-weight: 700;
}

    .file-data-stream-loading .spinner {
        width: .8rem;
        height: .8rem;
        margin-left: 10px;
    }

    .file-data-stream-loading .spinner-layer::after {
        border-width: 2px;
    }

    .file-data-stream-loading .spinner-circle-inner {
        border-width: 2px;
    }

/*----- file-data-stream-loading -----*/