body.light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
    --settingLinkColor: #0094ff;
    /*--fileImageBlockShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);*/
    --fileImageBlockShadowOffset: 0 5px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --badgeColor: #d2d3d5;
    --badgeBgColor: rgba(48, 48, 48, .95);
    --badgeActiveColor: #333333;
    --badgeActiveBgColor: rgba(255, 255, 255, .85);
}

body.dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
    --settingLinkColor: #33aaff;
    /*--fileImageBlockShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);*/
    --fileImageBlockShadowOffset: 0 15px 15px 0 rgb(0 0 0 / 24%), 0 50px 50px 0 rgb(0 0 0 / 19%);
    --badgeColor: #333333;
    --badgeBgColor: rgba(255, 255, 255, .85);
    --badgeActiveColor: #d2d3d5;
    --badgeActiveBgColor: rgba(48, 48, 48, .95);
}

body.text-dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-dark-blue {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-gray {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-yellow {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-orange {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-blue {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-green {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

/*----- nav-logo -----*/

.nav-logo-inner {
    background-color: var(--navLogoInnerColor);
}

.nav-title span {
    color: var(--navTitleColor);
}

/*----- nav-logo -----*/

/*----- setting-link -----*/

a.setting-link,
a.setting-link:link,
a.setting-link:visited,
a.setting-link:active {
    color: var(--settingLinkColor);
}

/*----- setting-link -----*/


/*----- file-image-block -----*/

.file-image-block {
    background-color: var(--bgColor);
    box-shadow: 10px 0 0 0 var(--bgColor), -10px 0 0 0 var(--bgColor);
}

    .file-image-block .image-wrap {
        box-shadow: var(--fileImageBlockShadowOffset);
    }

        .file-image-block .image-wrap.hide {
            box-shadow: var(--fileImageBlockShadow);
        }

        .file-image-block .image-wrap.first {
            box-shadow: var(--fileImageBlockShadow);
        }

/*----- file-image-block -----*/

/*----- file-history -----*/

/*.board .file-history {
    color: var(--linkColor);
}

.board.active .file-history {
    color: var(--fileItemActiveColor);
}*/

.board .badge {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- file-history -----*/