body.light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
    --settingLinkColor: #0094ff;
    
    --badgeColor: #d2d3d5;
    --badgeBgColor: rgba(48, 48, 48, .95);
    --badgeActiveColor: #333333;
    --badgeActiveBgColor: rgba(255, 255, 255, .85);
    /*--markBorderColor: #ffe69c;
    --markBgColor: #fff3cd;*/
    /*----- button -----*/
    /*--buttonBgColor: #f2f2f2;*/
    --buttonBgColor: #f5f5f5;
    --buttonHoverBgColor: #e6e6e6;
    --buttonActiveBgColor: #cecece;
    /*----- button -----*/
    /*----- bookmark -----*/
    --fileItemActiveHoverColor: #fff;
    /*----- bookmark -----*/
}

body.dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
    --settingLinkColor: #33aaff;
    
    --badgeColor: #333333;
    --badgeBgColor: rgba(255, 255, 255, .85);
    --badgeActiveColor: #d2d3d5;
    --badgeActiveBgColor: rgba(48, 48, 48, .95);
    /*--markBorderColor: #997404;
    --markBgColor: #332701;*/
    /*----- button -----*/
    --buttonBgColor: #3d3d3d;
    --buttonHoverBgColor: #535353;
    --buttonActiveBgColor: #656565;
    /*----- button -----*/
    /*----- bookmark -----*/
    --fileItemActiveHoverColor: #7a7a7a;
    /*----- bookmark -----*/
}

body.text-dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-dark-blue {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-gray {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-yellow {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-orange {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-blue {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-green {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

/*----- nav-logo -----*/

.nav-logo-inner {
    background-color: var(--navLogoInnerColor);
}

.nav-title span {
    color: var(--navTitleColor);
}

/*----- nav-logo -----*/

/*----- setting-link -----*/

a.setting-link,
a.setting-link:link,
a.setting-link:visited,
a.setting-link:active {
    color: var(--settingLinkColor);
}

/*----- setting-link -----*/

/*----- file-history -----*/

/*.board .file-history {
    color: var(--linkColor);
}

.board.active .file-history {
    color: var(--fileItemActiveColor);
}*/

.board .badge {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- file-history -----*/



/*----- file-navbar-info -----*/

.file-navbar-info .badge {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

/*----- file-navbar-info -----*/
