body {
    --badgeFont: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layout {
    opacity: 0;
}

/*----- nav -----*/

.nav-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.nav-logo {
    margin: 0px 0px 0px 0px;
    height: 45px;
    position: relative;
}

    .nav-logo.cicle img {
        height: 45px;
        filter: brightness(1);
    }

.nav-logo-wrap {
    margin-left: 8px;
}

.nav-logo-inner {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.nav-logo-placeholder {
    width: 10px;
}

/*----- nav -----*/

/*----- file-history -----*/

.board .file-history {
    margin-left: 10px;
    margin-right: 10px;
}

.board .folder-history {
    margin-left: 10px;
    margin-right: 10px;
}

/*----- 垂直對齊 badge -----*/
/*.file-item-description {
    line-height: 1.5;
}*/

    .file-item-description .badge {
        line-height: .9;
    }

/*.file-image-item-description {
    line-height: 1.5;
}*/
/*----- 垂直對齊 badge -----*/

/*----- file-history -----*/

/*----- setting-button -----*/

.setting-button {
    display: flex;
}

@media screen and (max-width: 640px) {
    .header .end {
        padding-right: 5px;
    }

    .setting-button {
        padding: 5px;
        margin-right: 5px;
    }

    .setting-button-icon {
        display: flex;
    }

    .setting-button-text {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .setting-button-icon {
        display: none;
    }
}

/*----- setting-button -----*/

/*----- bookmark-button -----*/

.bookmark-button {
    display: flex;
}

@media screen and (max-width: 640px) {
    .bookmark-button {
        padding: 5px;
        margin-right: 10px;
    }

    .bookmark-button-icon {
        display: flex;
    }

    .bookmark-button-text {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-button {
        margin-right: 15px;
    }

    .bookmark-button-icon {
        display: none;
    }
}

/*----- bookmark-button -----*/

/*----- search-input-error -----*/

.search-input-error {
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    margin: 0 auto;
    line-height: 2;
}

.search-input-error-icon {
    padding-right: 5px;
    color: #ffd43b;
}

/*----- search-input-error -----*/


/*----- file-navbar-info -----*/

    .file-navbar-info .badge {
        line-height: 1;
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 0.375rem;
    }

        .file-navbar-info .badge.round {
            border-radius: 50rem;
        }

/*----- file-navbar-info -----*/
