body {
}

.layout {
    opacity: 0;
}

/*----- nav -----*/

.nav-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.nav-logo {
    margin: 0px 0px 0px 0px;
    height: 45px;
    position: relative;
}

    .nav-logo.cicle img {
        height: 45px;
        filter: brightness(1);
    }

.nav-logo-wrap {
    margin-left: 8px;
}

.nav-logo-inner {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.nav-logo-placeholder {
    width: 10px;
}

/*----- nav -----*/

/*----- draggable -----*/

.drag-ghost {
    opacity: 0;
}

/*.drag-chosen {
    
}*/

/*.dragging {

}*/

/*----- draggable -----*/

/*----- bookmark -----*/

@media screen and (max-width: 640px) {
    .bookmark-import-button {
        display: none;
    }

    .bookmark-export-button {
        display: none;
    }
}

/*----- bookmark -----*/

/*----- file-image-block -----*/

/*.file-image-block img {
    transition: opacity .3s ease-in-out;
}*/

/*----- file-image-block -----*/

/*----- bookmark-popover -----*/

.bookmark-popover .popover-scrollable {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

    .bookmark-popover .popover-scrollable:hover {
        scrollbar-color: var(--scrollbarHoverColor) transparent;
    }

.bookmark-popover .popover-item:hover {
    background-color: var(--dropdownMenuHoverBgColor);
}

.bookmark-popover .popover-item:active {
    background-color: var(--dropdownMenuActiveBgColor);
}

.bookmark-popover .popover-inner {
    display: flex;
    padding: 8px 0;
    border-radius: 12px;
    /*max-width: 240px;
    width: 240px;*/
    max-width: 255px;
    width: 255px;
    max-height: 240px;
}

.bookmark-popover .popover-scrollable {
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
}

.bookmark-popover .popover-item {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 8px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
}

.bookmark-popover .popover-item-text {
    flex: 1;
    flex-basis: 0px;
    word-break: normal;
    overflow-wrap: anywhere;
    text-wrap: pretty;
    -webkit-font-smoothing: initial;
}

.bookmark-popover .popover-item-trailing {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 12px;
}

.bookmark-popover .popover-inner {
    will-change: opacity, transform;
    animation: .2s cubic-bezier(.16, 1, .3, 1) bookmarkPopoverSlideDownAndFade;
}

@keyframes bookmarkPopoverSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px); 
    }

    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

/*----- bookmark-popover -----*/