body {
    /* S */
    --fileImageItemWidth_S: 120px;
    /*--fileImageItemHeight_S: 67.5px;*/
    --fileImageItemHeight_S: 90px;
    /* M */
    --fileImageItemWidth_M: 150px;
    /*--fileImageItemHeight_M: 84.375px;*/
    --fileImageItemHeight_M: 112.5px;
    /* L */
    --fileImageItemWidth_L: 200px;
    --fileImageItemHeight_L: 112.5px;
    /*--fileImageItemHeight_L: 150px;*/
    /* S */
    --fileImageItemOverWidth_S: 200px;
    /*--fileImageItemOverHeight_S: 112.5px;*/
    --fileImageItemOverHeight_S: 150px;
    /* M */
    --fileImageItemOverWidth_M: 260px;
    /*--fileImageItemOverHeight_M: 146.25px;*/
    --fileImageItemOverHeight_M: 195px;
    /* L */
    --fileImageItemOverWidth_L: 320px;
    --fileImageItemOverHeight_L: 180px;
    /*--fileImageItemOverHeight_L: 240px;*/

    --badgeFont: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layout {
    opacity: 0;
}

/*----- nav -----*/

.nav-title {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.nav-logo {
    margin: 0px 0px 0px 0px;
    height: 45px;
    position: relative;
}

    .nav-logo.cicle img {
        height: 45px;
        filter: brightness(1);
    }

.nav-logo-warp {
    margin-left: 8px;
}

.nav-logo-inner {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.nav-logo-placeholder {
    width: 10px;
}

.nav-link {
    white-space: nowrap;
}

/*----- nav -----*/

/*----- file-image-item -----*/

.file-image-item {
    padding: 10px;
}

.file-image-item-icon {
    border-radius: 0.15rem;
}

.file-image-item-icon {
    transition: width .8s, height .8s;
}

    .file-image-item-icon img {
        transition: max-width .8s, max-height .8s;
        opacity: 1;
    }

    .file-image-item-icon video {
        transition: max-width .8s, max-height .8s;
    }

    .file-image-item-icon .preview {
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .file-image-item-icon .hide {
        visibility: hidden;
    }

@media screen and (max-width: 640px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_S);
        height: var(--fileImageItemHeight_S);
    }

        .file-image-item-icon img {
            max-width: var(--fileImageItemWidth_S);
            max-height: var(--fileImageItemHeight_S);
        }

        .file-image-item-icon video {
            max-width: var(--fileImageItemWidth_S);
            max-height: var(--fileImageItemHeight_S);
        }
}

@media screen and (min-width: 641px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_M);
        height: var(--fileImageItemHeight_M);
    }

        .file-image-item-icon img {
            max-width: var(--fileImageItemWidth_M);
            max-height: var(--fileImageItemHeight_M);
        }

        .file-image-item-icon video {
            max-width: var(--fileImageItemWidth_M);
            max-height: var(--fileImageItemHeight_M);
        }
}

@media screen and (min-width: 1025px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_L);
        height: var(--fileImageItemHeight_L);
    }

        .file-image-item-icon img {
            max-width: var(--fileImageItemWidth_L);
            max-height: var(--fileImageItemHeight_L);
        }

        .file-image-item-icon video {
            max-width: var(--fileImageItemWidth_L);
            max-height: var(--fileImageItemHeight_L);
        }
}

@media screen and (max-width: 640px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_S);
        height: var(--fileImageItemOverHeight_S);
    }

        .file-image-item-icon.over img {
            max-width: var(--fileImageItemOverWidth_S);
            max-height: var(--fileImageItemOverHeight_S);
        }

        .file-image-item-icon.over video {
            max-width: var(--fileImageItemOverWidth_S);
            max-height: var(--fileImageItemOverHeight_S);
        }
}

@media screen and (min-width: 641px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_M);
        height: var(--fileImageItemOverHeight_M);
    }

        .file-image-item-icon.over img {
            max-width: var(--fileImageItemOverWidth_M);
            max-height: var(--fileImageItemOverHeight_M);
        }

        .file-image-item-icon.over video {
            max-width: var(--fileImageItemOverWidth_M);
            max-height: var(--fileImageItemOverHeight_M);
        }
}

@media screen and (min-width: 1025px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_L);
        height: var(--fileImageItemOverHeight_L);
    }

        .file-image-item-icon.over img {
            max-width: var(--fileImageItemOverWidth_L);
            max-height: var(--fileImageItemOverHeight_L);
        }

        .file-image-item-icon.over video {
            max-width: var(--fileImageItemOverWidth_L);
            max-height: var(--fileImageItemOverHeight_L);
        }
}

/*----- file-image-item -----*/

/*----- view-mode -----*/

@media screen and (max-width: 480px) {
    .view-mode .file-image-item {
        flex-direction: column;
        padding: 10px;
    }

    .view-mode .file-image-item-icon {
        width: 100%;
        max-width: 100%;
        padding-top: 56.25%;
        position: relative;
        height: inherit;
        overflow: hidden;
        border-radius: 0.35rem;
    }

        .view-mode .file-image-item-icon img {
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .view-mode .file-image-item-icon video {
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .view-mode .file-image-item-icon.over {
            width: 100%;
            height: inherit;
        }

            .view-mode .file-image-item-icon.over img {
                max-width: 100%;
                max-height: 100%;
            }

            .view-mode .file-image-item-icon.over video {
                max-width: 100%;
                max-height: 100%;
            }

    .view-mode .file-image-item-text {
        align-self: start;
        padding: 10px 5px 0px 5px;
    }
}

/*----- view-mode -----*/

/*----- file-image-block -----*/

.file-image-block img.hide {
    visibility: hidden;
    height: 320px;
}

.file-image-block img.show {
    visibility: visible;
    height: auto;
}

.file-image-block {
    box-shadow: inherit;
}

    /*.file-image-block img {
        margin: 0 auto;
    }*/

    .file-image-block .image-wrap {
        margin: 0 auto;
    }

        .file-image-block .image-wrap.scale100 {
            width: 100%;
        }

        .file-image-block .image-wrap.scale75 {
            width: 75%;
        }

        .file-image-block .image-wrap.scale50 {
            width: 50%;
        }

        .file-image-block .image-wrap.scale25 {
            width: 25%;
        }

/*----- file-image-block -----*/

/*----- file-navbar -----*/

.theme-button-text {
    margin-left: 5px;
}

.file-navbar-btn-text {
    padding-right: 7px;
}

/*----- file-navbar -----*/

/*----- file-history -----*/

/*.file-item {
    position: relative;
}

.file-image-item {
    position: relative;
}*/

.file-item-description {
    display: flex;
    align-items: center;
}

.file-image-item-description {
    display: flex;
    align-items: center;
}

.board .file-history {
    margin-left: 10px;
    margin-right: 10px;
}

.board .folder-history {
    margin-left: 10px;
    margin-right: 10px;
}

.badge {
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    padding: .35em .52em;
    line-height: .9;
    font-size: .75em;
    font-family: var(--badgeFont);
    font-weight: 700;
    border-radius: 50rem;
    letter-spacing: .02em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

/*----- 垂直對齊 badge -----*/
.file-item-description {
    line-height: 1.5;
}

    .file-item-description .badge {
        line-height: .9;
    }

.file-image-item-description {
    line-height: 1.5;
}
/*----- 垂直對齊 badge -----*/

/*----- file-history -----*/

/*----- file-item-sub-title -----*/

.file-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 3px;
}

.file-image-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 3px;
}

.file-item-sub-title-icon {
    margin-right: 5px;
}

.file-image-item-sub-title-icon {
    margin-right: 5px;
}

/*----- file-item-sub-title -----*/

/*----- setting-button -----*/

.setting-button {
    display: flex;
}

@media screen and (max-width: 640px) {
    .header .end {
        padding-right: 5px;
    }

    .setting-button {
        padding: 5px;
        margin-right: 5px;
    }

    .setting-button-icon {
        display: flex;
    }

    .setting-button-text {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .setting-button-icon {
        display: none;
    }
}

/*----- setting-button -----*/

/*----- search-box -----*/

.header .center {
    display: flex;
    align-items: center;
    flex: 0 1 550px;
}

.search-box-block {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.search-box {
    display: flex;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
}

@media screen and (max-width: 640px) {
    .search-box {
        display: none;
    }

        .search-box.show {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            margin: 0;
            padding: 10px 10px 10px 10px;
            box-sizing: border-box;
        }
}

.search-back-button {
    display: none;
    align-items: center;
    font-size: 1rem;
    align-self: center;
    padding: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 640px) {
    .search-box.show .search-back-button {
        display: flex;
    }
}

.search-input-box {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid;
    border-right: 0;
    box-shadow: none;
    border-radius: 100px 0 0 100px;
    margin: 0;
    padding: 5px 5px 5px 15px;
    flex: 1;
    cursor: text;
}

    .search-input-box.focus {
        border-right: 1px solid;
    }

.search-input {
    padding: 1px 1px;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.search-button {
    border: 1px solid;
    width: 60px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
}

.search-button-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    transform: translateX(-3px);
}

.search-toggle-button {
    align-items: center;
    font-size: 1rem;
    align-self: center;
    padding: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 640px) {
    .search-toggle-button {
        display: flex;
    }
}

@media screen and (min-width: 641px) {
    .search-toggle-button {
        display: none;
    }
}

.search-clear-button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    align-self: center;
}

/*----- search-box -----*/

/*----- search-input-error -----*/

.search-input-error {
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    margin: 0 auto;
    line-height: 2;
}

.search-input-error-icon {
    padding-right: 5px;
    color: #ffd43b;
}

/*----- search-input-error -----*/

/*----- mark -----*/

.mark {
    display: inline-flex;
    padding: 0px 2px;
    /*border-radius: 5px;*/
    border-radius: 0.375rem;
    /*border: 1px solid;*/
    border: 0;
}

/*----- mark -----*/