body.light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-dark {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-dark-blue {
    --navTitleColor: #eaeaeb;
    --navLogoInnerColor: #f9f9f9;
}

body.text-light {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-gray {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-yellow {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-orange {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-blue {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

body.text-green {
    --navTitleColor: #262626;
    --navLogoInnerColor: #fff;
}

/*----- nav-logo -----*/

.nav-logo-inner {
    background-color: var(--navLogoInnerColor);
}

.nav-title span {
    color: var(--navTitleColor);
}

/*----- nav-logo -----*/

/*----- file-data-stream-loading -----*/

.file-data-stream-loading {
    color: var(--spinnerColor);
}

/*----- file-data-stream-loading -----*/