<div class="board hover file-image-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
    <div class="file-image-item-icon"
         v-on:click.stop.prevent="onPreviewClick(item)"
         v-bind:class="{over: item.isPreviewOver}">
        <img v-bind:src="item.thumbnail" loading="lazy"
             v-bind:class="{hide: item.showPreview}" />
        <img v-if="item.showPreview" v-bind:src="item.preview" class="preview" />
    </div>
    <div class="file-image-item-text">
        <div class="file-image-item-title">{{item.name}}</div>
        <div v-if="hasSearch" class="file-image-item-sub-title">
            <span class="file-image-item-sub-title-icon">
                <i class="fa-solid fa-tag fa-fw"></i>
            </span>
            <span>{{item.searchDirPath}}</span>
        </div>
        <div class="file-image-item-description">
            <span>{{item.fileSize}}</span>
            <span v-if="item.hasHistory" class="file-history">
                <i class="fa-regular fa-circle-check fa-fw"></i>
                @* <i class="fa-solid fa-clock-rotate-left fa-fw"></i> *@
            </span>
        </div>
    </div>
</div>