/*----- scrollbar -----*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
/*----- scrollbar -----*/

/*----- mode -----*/
:root {
    --pageMaxWidth: 1024px;
    --darkBoxShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    --lightBoxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --darkControlColor: #2f3136;
    --darkControlBgColor: #f5f5f5;
    --darkControlBgHoverColor: #ccc;
    --lightControlColor: #f5f5f5;
    --lightControlBgColor: #454545;
    --lightControlBgHoverColor: #5e5e5e;
    --darkCircleColor: #202225;
    --lightCircleColor: #f1f1f1;
    /* text page */
    --textPageMaxWidth: 1024px;
    --textDarkBoxShadow: 0 7px 12px 0 rgb(0 0 0 / 24%), 0 10px 10px -2px rgb(0 0 0 / 19%);
    --textDarkBgColor: hsl(223, 7%, 20%);
    --textDarkFontColor: #c4c6c9;
    /*--textDarkBoardColor: #2f3136;*/
    --textDarkBoardColor: hsl(223, 7%, 25%);
    --textDarkLinkColor: hsl(216, 4%, 78%);
    --textDarkLinkHoverColor: hsl(216, 4%, 88%);
    --textDarkCircleColor: #202225;
    --textDarkBlueBgColor: hsl(213, 27%, 13%);
    --textDarkBlueFontColor: #c9d1d9;
    /*--textDarkBlueBoardColor: rgb(24, 32, 42);*/
    --textDarkBlueBoardColor: hsl(213, 27%, 18%);
    --textDarkBlueLinkColor: hsl(210, 17%, 82%);
    --textDarkBlueLinkHoverColor: hsl(210, 17%, 92%);
    --textDarkBlueCircleColor: hsl(213, 27%, 23%);
    --textLightBgColor: hsl(0, 0%, 98%);
    --textLightFontColor: #474747;
    /*--textLightBoardColor: #f9f9f9;*/
    --textLightBoardColor: hsl(0, 0%, 100%);
    --textLightLinkColor: hsl(0, 0%, 28%);
    --textLightLinkHoverColor: hsl(0, 0%, 18%);
    --textLightCircleColor: #f1f1f1;
    --textGrayBgColor: hsl(240, 13%, 87%);
    --textGrayFontColor: #474747;
    /*--textGrayBoardColor: rgb(229, 229, 235);*/
    --textGrayBoardColor: hsl(240, 13%, 91%);
    --textGrayLinkColor: hsl(0, 0%, 28%);
    --textGrayLinkHoverColor: hsl(0, 0%, 18%);
    --textGrayCircleColor: hsl(240, 14%, 83%);
    --textYellowBgColor: hsl(47, 92%, 93%);
    --textYellowFontColor: #474747;
    /*--textYellowBoardColor: rgb(254, 249, 231);*/
    --textYellowBoardColor: hsl(47, 92%, 95%);
    --textYellowkLinkColor: hsl(0, 0%, 28%);
    --textYellowkLinkHoverColor: hsl(0, 0%, 18%);
    --textYellowCircleColor: hsl(47, 92%, 90%);
    --textOrangeBgColor: hsl(37, 92%, 93%);
    --textOrangeFontColor: #474747;
    /*--textOrangeBoardColor: rgb(254, 245, 231);*/
    --textOrangeBoardColor: hsl(37, 92%, 95%);
    --textOrangeLinkColor: hsl(0, 0%, 28%);
    --textOrangeLinkHoverColor: hsl(0, 0%, 18%);
    --textOrangeCircleColor: hsl(37, 92%, 90%);
    --textBlueBgColor: hsl(202, 67%, 93%);
    --textBlueFontColor: #474747;
    /*--textBlueBoardColor: rgb(235, 245, 251);*/
    --textBlueBoardColor: hsl(202, 67%, 95%);
    --textBlueLinkColor: hsl(0, 0%, 28%);
    --textBlueLinkHoverColor: hsl(0, 0%, 18%);
    --textBlueCircleColor: hsl(202, 67%, 90%);
    --textGreenBgColor: hsl(146, 47%, 92%);
    --textGreenFontColor: #474747;
    /*--textGreenBoardColor: rgb(233, 247, 239);*/
    --textGreenBoardColor: hsl(146, 47%, 94%);
    --textGreenLinkColor: hsl(0, 0%, 28%);
    --textGreenLinkHoverColor: hsl(0, 0%, 18%);
    --textGreenCircleColor: hsl(146, 47%, 90%);
}

body {
    --boxShadow: var(--lightBoxShadow);
    --bgColor: #f1f1f1; /*#e9e9e9;*/
    --fontColor: #474747;
    --boardColor: #f9f9f9;
    --cicleBoardColor: #474747;
    --linkCokor: hsl(0, 0%, 28%);
    --linkHoverCokor: hsl(0, 0%, 18%);
    --placeholderColor: #8c9097;
    --cicleFontColor: #f1f1f1;
    --darkCicleFontColor: #474747;
    --checkboxWarpColor: #f9f9f9;
    --checkboxWarpBorderColor: #c4c6c9;
    --checkboxMarkColor: #72767d;
    --checkboxMarkCheckedColor: #202225;
    --checkboxMarkCheckedFontColor: #ffffff;
    --inputBgColor: #f9f9f9;
    --inputBoardColor: #c4c6c9;
    --inputBoardFocusColor: #040405;
    --controlColor: var(--lightControlColor);
    --controlBgColor: var(--lightControlBgColor);
    --controlBgHoverColor: var(--lightControlBgHoverColor);
    /*--fileIconColor: hsl(0, 0%, 30%);*/
    /*--fileIconHoverColor: hsl(0, 0%, 27%);*/
    --fileIconColor: hsl(0, 0%, 31%);
    --fileIconHoverColor: hsl(0, 0%, 27%);
    --bodyMainMaxWidth: var(--pageMaxWidth);
}

    body.dark {
        --boxShadow: var(--darkBoxShadow);
        --bgColor: #202225;
        --fontColor: #c4c6c9;
        --boardColor: #2f3136;
        --cicleBoardColor: #c4c6c9;
        --linkCokor: hsl(216, 4%, 78%);
        --linkHoverCokor: hsl(216, 4%, 88%);
        --placeholderColor: #72767d;
        --cicleFontColor: #c4c6c9;
        --darkCicleFontColor: #202225;
        --checkboxWarpColor: #202225;
        --checkboxWarpBorderColor: #040405;
        --checkboxMarkColor: #72767d;
        --checkboxMarkCheckedColor: #c4c6c9;
        --checkboxMarkCheckedFontColor: #000000;
        --inputBgColor: #202225;
        --inputBoardColor: #040405;
        --inputBoardFocusColor: #c4c6c9;
        --controlColor: var(--darkControlColor);
        --controlBgColor: var(--darkControlBgColor);
        --controlBgHoverColor: var(--darkControlBgHoverColor);
        --fileIconColor: hsl(216, 4%, 78%);
        --fileIconHoverColor: hsl(216, 4%, 88%);
        --bodyMainMaxWidth: var(--pageMaxWidth);
    }

    body.text-dark {
        --bgColor: var(--textDarkBgColor);
        --fontColor: var(--textDarkFontColor);
        --boardColor: var(--textDarkBoardColor);
        --linkCokor: var(--textDarkLinkColor);
        --linkHoverCokor: var(--textDarkLinkHoverColor);
        --boxShadow: var(--textDarkBoxShadow);
        --controlColor: var(--darkControlColor);
        --controlBgColor: var(--darkControlBgColor);
        --controlBgHoverColor: var(--darkControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-dark-blue {
        --bgColor: var(--textDarkBlueBgColor);
        --fontColor: var(--textDarkBlueFontColor);
        --boardColor: var(--textDarkBlueBoardColor);
        --linkCokor: var(--textDarkBlueLinkColor);
        --linkHoverCokor: var(--textDarkBlueLinkHoverColor);
        --boxShadow: var(--textDarkBoxShadow);
        --controlColor: var(--darkControlColor);
        --controlBgColor: var(--darkControlBgColor);
        --controlBgHoverColor: var(--darkControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-light {
        --bgColor: var(--textLightBgColor);
        --fontColor: var(--textLightFontColor);
        --boardColor: var(--textLightBoardColor);
        --linkCokor: var(--textLightLinkColor);
        --linkHoverCokor: var(--textLightLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-gray {
        --bgColor: var(--textGrayBgColor);
        --fontColor: var(--textGrayFontColor);
        --boardColor: var(--textGrayBoardColor);
        --linkCokor: var(--textGrayLinkColor);
        --linkHoverCokor: var(--textGrayLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-yellow {
        --bgColor: var(--textYellowBgColor);
        --fontColor: var(--textYellowFontColor);
        --boardColor: var(--textYellowBoardColor);
        --linkCokor: var(--textYellowLinkColor);
        --linkHoverCokor: var(--textYellowLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-orange {
        --bgColor: var(--textOrangeBgColor);
        --fontColor: var(--textOrangeFontColor);
        --boardColor: var(--textOrangeBoardColor);
        --linkCokor: var(--textOrangeLinkColor);
        --linkHoverCokor: var(--textOrangeLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-blue {
        --bgColor: var(--textBlueBgColor);
        --fontColor: var(--textBlueFontColor);
        --boardColor: var(--textBlueBoardColor);
        --linkCokor: var(--textBlueLinkColor);
        --linkHoverCokor: var(--textBlueLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }

    body.text-green {
        --bgColor: var(--textGreenBgColor);
        --fontColor: var(--textGreenFontColor);
        --boardColor: var(--textGreenBoardColor);
        --linkCokor: var(--textGreenLinkColor);
        --linkHoverCokor: var(--textGreenLinkHoverColor);
        --boxShadow: var(--lightBoxShadow);
        --controlColor: var(--lightControlColor);
        --controlBgColor: var(--lightControlBgColor);
        --controlBgHoverColor: var(--lightControlBgHoverColor);
        --bodyMainMaxWidth: var(--textPageMaxWidth);
    }
/*----- mode -----*/

/*----- layout -----*/
html, body {
    color: var(--fontColor);
    background-color: var(--bgColor);
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    text-size-adjust: 100%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

body.dark img {
    filter: brightness(0.9);
}

a {
    text-decoration: none;
    cursor: pointer;
}

    a:link,
    a:visited,
    a:active {
        color: var(--linkCokor);
    }

@media screen and (min-width: 1025px) {
    a:hover {
        color: var(--linkHoverCokor);
    }
}

.main {
    max-width: var(--bodyMainMaxWidth);
    width: 100%;
    margin: auto;
}

.main {
    opacity: 0;
}

.board {
    background-color: var(--boardColor);
    box-shadow: var(--boxShadow);
    margin: 15px auto;
    padding: 15px;
    border-radius: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
}

.title {
    display: flex;
    align-items: start;
    word-wrap: break-word;
    word-break: break-all;
}

    .title.freeze {
        position: sticky;
        top: 0px;
        z-index: 10000;
    }

    .title.over {
        position: sticky;
        top: 0px;
        z-index: 50000;
    }

.title-text {
    padding: 0px 10px;
}

.title-btn-right {
    margin-left: auto;
    padding: 0px 5px;
}

.title-btn {
    padding: 0px 5px;
}
/*----- layout -----*/

/*----- font-awesome -----*/
.fa-fw {
    width: 1em;
}
/*----- font-awesome -----*/

/*----- image -----*/
.image-board {
    background-color: #ffffff;
    box-shadow: var(--boxShadow);
}

    .image-board.over {
        position: sticky;
        z-index: 25000;
    }
/*----- image -----*/

/*----- files -----*/
.file-item {
    display: flex;
    padding: 15px 15px;
    align-items: center;
}

.file-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

a .file-icon {
    color: var(--fileIconColor);
}

a:hover .file-icon {
    color: var(--fileIconHoverColor);
}

.file-text {
    align-self: center;
    padding: 0px 15px;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (min-width: 641px) {
    .file-item {
        padding: 15px 20px;
    }

    .file-text {
        padding: 0px 20px;
    }
}

.file-title {
    align-self: center;
    padding: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.file-description {
    align-self: center;
    padding-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
/*----- files -----*/

/*----- video -----*/
.video-item {
    display: flex;
    padding: 15px 5px;
    align-items: center;
}

.video-image {
    display: flex;
    align-items: center;
    align-self: center;
    width: 120px;
    height: 90px;
    background-color: #000;
    flex-shrink: 0;
}

    .video-image img {
        display: block;
        align-self: center;
        max-width: 120px;
        max-height: 90px;
        width: auto;
        height: auto;
        margin: auto;
    }

@media screen and (min-width: 641px) {
    .video-image {
        width: 150px;
        height: 115px;
    }

        .video-image img {
            max-width: 150px;
            max-height: 115px;
        }
}

@media screen and (min-width: 1025px) {
    .video-image {
        width: 200px;
        height: 150px;
    }

        .video-image img {
            max-width: 200px;
            max-height: 150px;
        }
}

.video-text {
    align-self: center;
    padding: 0px 5px;
}

@media screen and (min-width: 641px) {
    .video-item {
        padding: 15px 15px;
    }

    .video-text {
        padding: 0px 15px;
    }
}

.video-title {
    align-self: center;
    padding: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.video-description {
    align-self: center;
    padding-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
/*----- video -----*/

/*----- text page -----*/
.text-content {
    white-space: pre-line;
    font-weight: 600;
    font-size: 1.25rem;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (min-width: 1025px) {
    .text-content {
        font-size: 1.35em;
    }
}

.text-board {
    border: 0px;
    box-shadow: 10px 0 0 0 var(--bgColor), -10px 0 0 0 var(--bgColor);
    background-color: var(--bgColor)
}

.text-board.over {
    position: sticky;
    z-index: 25000;
}
/*----- text page -----*/

/*----- video page -----*/
.video-warp {
    max-width: var(--bodyMainMaxWidth);
    margin: 0px auto;
}

    .video-warp .board {
        display: none;
    }

@media screen and (min-width: 1025px) {
    .video-warp .board {
        display: flex;
    }
}

.video-warp .control .button {
    display: none;
}

@media screen and (min-width: 1360px) {
    .video-warp .control .button {
        display: block;
    }
}

.video-warp {
    opacity: 0;
}
/*----- video page -----*/

/*----- alert -----*/
.alert {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 38px;
    outline: 0;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 12px 0px;
}
    .alert.success {
        color: hsl(139,47.3%,43.9%);
        border: 1px solid hsl(139,47.3%,43.9%);
        background-color: hsla(139,47.3%,43.9%,0.1);
    }

    .alert.warning {
        color: hsl(38,95.7%,54.1%);
        border: 1px solid hsl(38,95.7%,54.1%);
        background-color: hsla(38,95.7%,54.1%,0.1);
    }

    .alert.error {
        color: hsl(359,82.6%,59.4%);
        border: 1px solid hsl(359,82.6%,59.4%);
        background-color: hsla(359,82.6%,59.4%,0.1);
    }

    .alert.help {
        color: hsl(197,100%,47.8%);
        border: 1px solid hsl(197,100%,47.8%);
        background-color: hsla(197,100%,47.8%,0.1);
    }
/*----- alert -----*/

/*----- notice -----*/
.notice {
    max-width: var(--bodyMainMaxWidth);
    margin: 0 15px;
    background-color: rgba(4, 4, 5, 0.9);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 38px;
    outline: 0;
    padding: 15px 15px;
    border-radius: 3px;
}

.notice.success {
    color: hsl(139,47.3%,43.9%);
}

.notice-warp {
    max-width: var(--bodyMainMaxWidth);
    position: sticky;
    z-index: 100;
    width: 100%;
    transform: translateY(150%) translateZ(0px);
}

    .notice-warp.show {
        bottom: 20px;
        transform: translateY(0%) translateZ(0px);
        transition: 0.2s ease-in-out;
    }

.notice-placeholder {
    display: none;
    height: 80px;
    margin-top: 10px;
}
/*----- notice -----*/

/*----- form -----*/
.form-field {
    padding-top: 25px;
}

    .form-field.first {
        padding-top: 0px;
    }

    .form-field.last {
        padding-bottom: 10px;
    }

.label {
    margin-bottom: 5px;
}

.label-description {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.label-description.center {
    margin-bottom: 0px;
}
/*----- form -----*/

/*----- input -----*/
input {
    color: var(--fontColor);
    background-color: var(--inputBgColor);
    border-color: var(--inputBoardColor);
    outline: none;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    transition: background-color .15s ease, border .15s ease;
}

    input:focus {
        border-color: var(--inputBoardFocusColor);
    }

    input::placeholder {
        color: var(--placeholderColor);
        user-select: none
    }
/*----- input -----*/

/*----- checkbox -----*/
.checkbox {
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    flex: 0 0 auto;
}

    .checkbox input {
        width: 24px;
        height: 24px;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

.checkbox-mark {
    width: 24px;
    height: 24px;
    border-color: var(--checkboxMarkColor);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .checkbox-mark.checked {
        border-color: var(--checkboxMarkCheckedColor);
        background-color: var(--checkboxMarkCheckedColor);
    }

.checkbox-text {
    line-height: 24px;
    padding: 0 10px;
    font-size: 0.85rem;
    font-weight: 400;
}

.checkbox-warp {
    background-color: var(--checkboxWarpColor);
    border-color: var(--checkboxWarpBorderColor);
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    transition: border .125s;
}
/*----- checkbox -----*/

/*----- setting -----*/
.theme-cicles {
    display: flex;
    align-items: start;
    flex-flow: wrap;
}

.theme-cicle {
    border: 3px solid var(--cicleBoardColor);
    box-shadow: var(--boxShadow);
    display: block;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    outline: 0;
    margin: 15px 15px 0px 0px;
}

    .theme-cicle i {
        color: var(--cicleFontColor);
        display: none;
    }

        .theme-cicle i.dark {
            color: var(--darkCicleFontColor);
        }

    .theme-cicle.checked i {
        display: inline-block;
    }

    .theme-cicle.dark {
        background-color: var(--darkCircleColor);
    }

    .theme-cicle.light {
        background-color: var(--lightCircleColor);
    }

    .theme-cicle.text-dark {
        background-color: var(--textDarkCircleColor);
    }

    .theme-cicle.text-dark-blue {
        background-color: var(--textDarkBlueCircleColor);
    }

    .theme-cicle.text-light {
        background-color: var(--textLightCircleColor);
    }

    .theme-cicle.text-gray {
        background-color: var(--textGrayCircleColor);
    }

    .theme-cicle.text-yellow {
        background-color: var(--textYellowCircleColor);
    }

    .theme-cicle.text-orange {
        background-color: var(--textOrangeCircleColor);
    }

    .theme-cicle.text-blue {
        background-color: var(--textBlueCircleColor);
    }

    .theme-cicle.text-green {
        background-color: var(--textGreenBgColor);
    }

.checkbox-mark.checked polyline {
    stroke: var(--checkboxMarkCheckedFontColor);
}

.text-sample {
    border-color: var(--cicleBoardColor);
    display: none;
    padding: 15px;
    border-radius: 0.35rem;
    margin-top: 25px;
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    font-size: 1rem;
}

    .text-sample.text-dark {
        display: block;
        color: var(--textDarkFontColor);
        background-color: var(--textDarkBgColor);
    }

    .text-sample.text-dark-blue {
        display: block;
        color: var(--textDarkBlueFontColor);
        background-color: var(--textDarkBlueBgColor);
    }

    .text-sample.text-light {
        display: block;
        color: var(--textLightFontColor);
        background-color: var(--textLightBgColor);
    }

    .text-sample.text-gray {
        display: block;
        color: var(--textGrayFontColor);
        background-color: var(--textGrayBgColor);
    }

    .text-sample.text-yellow {
        display: block;
        color: var(--textYellowFontColor);
        background-color: var(--textYellowBgColor);
    }

    .text-sample.text-orange {
        display: block;
        color: var(--textOrangeFontColor);
        background-color: var(--textOrangeBgColor);
    }

    .text-sample.text-blue {
        display: block;
        color: var(--textBlueFontColor);
        background-color: var(--textBlueBgColor);
    }

    .text-sample.text-green {
        display: block;
        color: var(--textGreenFontColor);
        background-color: var(--textGreenBgColor);
    }
/*----- setting -----*/
