/*----- scrollbar -----*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
/*----- scrollbar -----*/

/*----- layout -----*/
html,
body {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    background-color: #202225;
    color: #c4c6c9;
    text-size-adjust: 100%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

    a:link,
    a:visited,
    a:active {
        color: hsl(216, 4%, 78%);
    }

@media screen and (min-width: 1025px) {
    a:hover {
        color: hsl(216, 4%, 88%);
    }
}

.main {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.board {
    margin: 15px auto;
    background-color: #2f3136;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.35rem;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
/*----- layout -----*/

/*----- image -----*/
.image-board {
    background-color: #2f3136;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
/*----- image -----*/

/*----- folder -----*/
.folder-item {
    display: flex;
    margin: 15px auto;
    background-color: #2f3136;
    padding: 15px 15px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.35rem;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

.folder-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.folder-board a {
    align-self: center;
}

.folder-text {
    align-self: center;
    padding: 0px 15px;
}

@media screen and (min-width: 641px) {
    .folder-item {
        padding: 15px 20px;
    }

    .folder-text {
        padding: 0px 20px;
    }
}

.folder-title {
    align-self: center;
    padding: 0px;
    color: #c4c6c9;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.folder-description {
    align-self: center;
    padding-top: 5px;
    color: #c4c6c9;
    font-size: 0.9rem;
    font-weight: 500;
}
/*----- folder -----*/

/*----- video -----*/
.video-item {
    display: flex;
    margin: 15px auto;
    background-color: #2f3136;
    padding: 15px 5px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.35rem;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

.video-image {
    display: flex;
    align-items: center;
    align-self: center;
    width: 120px;
    height: 90px;
    background-color: #000;
    flex-shrink: 0;
}

    .video-image img {
        display: block;
        align-self: center;
        max-width: 120px;
        max-height: 90px;
        width: auto;
        height: auto;
        margin: auto;
    }

@media screen and (min-width: 641px) {
    .video-image {
        width: 150px;
        height: 115px;
    }

        .video-image img {
            max-width: 150px;
            max-height: 115px;
        }
}

@media screen and (min-width: 1025px) {
    .video-image {
        width: 200px;
        height: 150px;
    }

        .video-image img {
            max-width: 200px;
            max-height: 150px;
        }
}

.video-board a {
    align-self: center;
}

.video-text {
    align-self: center;
    padding: 0px 5px;
}

@media screen and (min-width: 641px) {
    .video-item {
        padding: 15px 15px;
    }

    .video-text {
        padding: 0px 15px;
    }
}

.video-title {
    align-self: center;
    padding: 0px;
    color: #c4c6c9;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.video-description {
    align-self: center;
    padding-top: 5px;
    color: #c4c6c9;
    font-size: 0.9rem;
    font-weight: 500;
}
/*----- video -----*/

/*----- text page -----*/
.text-title {
    /*font-size: 1.25rem;*/
}

.text-content {
    white-space: pre-line;
    text-indent: 2rem;
    font-weight: normal;
    font-size: 1.25rem;
}

@media screen and (min-width: 1025px) {
    .text-title {
        /*font-size: 1.35rem;*/
    }

    .text-content {
        font-size: 1.35em;
    }
}
/*----- text page -----*/

/*----- video page -----*/
.video-warp .board {
    display: none;
}

@media screen and (min-width: 1025px) {
    .video-warp .board {
        display: block;
    }
}
/*----- video page -----*/