.layout {
    opacity: 0;
}

.nav-title {
    margin-right: 8px;
}

.nav-title span {
    /*color: #32c3ab;*/
    color: #28C8C8;
}

.nav-logo {
    margin: 10px 0px 10px 0px;
}

.nav-logo-warp {
    margin-left: -5px;
}

.nav-logo-placeholder {
    width: 10px;
}