<div class="toast-template search-input-toast">
    <div class="toast-block">
        <div class="toast-inner search-input-error">
            <span class="search-input-error-icon">
                <i class="fa-solid fa-circle-exclamation fa-fw"></i>
            </span>
            <span>__data-content__</span>
            <div class="alert light center">
                <span class="alert-text">
                    &#92; &#47; &#58; &#42; &#63; &quot; &lt; &gt; &#124;
                </span>
            </div>
        </div>
    </div>
</div>