<a v-if="item.fileType==type.folder" href="javascript:void(0)" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.itemCount}}</div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.video" href="javascript:void(0)" 
   v-on:click="onVideoItemClick(item)"
   v-on:mouseover="item.showPreview=true"
   v-on:mouseleave="item.showPreview=false">
    <div class="board hover file-image-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-image-item-icon">
            <img v-show="!item.showPreview" :src="routeLink('api/thumbnail/video', workNum, item.path)" loading="lazy" />
            <video v-if="item.showPreview" :src="routeLink('api/thumbnail/video/preview', workNum, item.path)" autoplay loop></video>
        </div>
        <div class="file-image-item-text">
            <div class="file-image-item-title">{{item.name}}</div>
            <div class="file-image-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.audio" href="javascript:void(0)" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file-audio fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.text" href="javascript:void(0)" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.other" href="javascript:void(0)">
    <div class="board hover file-item">
        <div class="file-item-icon">
            <i class="fa-solid fa-file fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<div v-if="item.fileType==type.image" class="file-image-block">
    <img :src="routeLink('api/file/image', workNum, item.path)" loading="lazy" />
</div>