<a v-if="item.fileType==type.folder" :href="item.link" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.itemCount}}</div>
        </div>
    </div>
</a>
<template v-if="!isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" :href="item.link" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderViewVideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" :href="item.link" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderViewAudioPartial")
    </a>
</template>
<template v-if="isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderViewVideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderViewAudioPartial")
    </a>
</template>
<a v-if="item.fileType==type.text" :href="item.link" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">
                <span>{{item.fileSize}}</span>
                <span v-if="item.hasHistory" class="file-history">
                    <i class="fa-regular fa-circle-check fa-fw"></i>
                    @* <i class="fa-solid fa-clock-rotate-left fa-fw"></i> *@
                </span>
            </div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.other" href="javascript:void(0)">
    <div class="board hover file-item">
        <div class="file-item-icon">
            <i class="fa-solid fa-file fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<div v-if="item.fileType==type.image" class="file-image-block">
    <img v-bind:src="routeLink('api/file/image', workNum, item.path)" loading="lazy"
         v-bind:class="{hide: !item.loaded, show: item.loaded,
            scale100: imageScale=='100', scale50: imageScale=='50', scale25: imageScale=='25'}"
         v-on:load="onImageLoaded(item)" />
</div>