<a v-if="item.fileType==type.folder" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    @* <i class="fa-solid fa-paperclip fa-fw"></i> *@
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">
                <span>{{item.itemCount}} {{local.items}}</span>
                <span v-if="item.historyCount>0" class="folder-history badge">{{item.historyCount}}</span>
            </div>
        </div>
    </div>
</a>
<template v-if="!isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderThumbnail/_VideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderThumbnail/_AudioPartial")
    </a>
</template>
<template v-if="isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderThumbnail/_VideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderThumbnail/_AudioPartial")
    </a>
</template>
<a v-if="item.fileType==type.image" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onItemClick(item)">
    <div class="board hover file-image-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-image-item-icon">
            <img :src="routeLink('api/thumbnail/image', workNum, item.path)" loading="lazy" />
        </div>
        <div class="file-image-item-text">
            <div class="file-image-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-image-item-sub-title">
                <span class="file-image-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-image-item-description">
                <span>{{item.fileSize}}</span>
                <span v-if="item.hasHistory" class="file-history">
                    <i class="fa-regular fa-circle-check fa-fw"></i>
                    @* <i class="fa-solid fa-clock-rotate-left fa-fw"></i> *@
                </span>
            </div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.text" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item)}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">
                <span>{{item.fileSize}}</span>
                <span v-if="item.hasHistory" class="file-history">
                    <i class="fa-regular fa-circle-check fa-fw"></i>
                    @* <i class="fa-solid fa-clock-rotate-left fa-fw"></i> *@
                </span>
            </div>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.other" href="javascript:void(0)">
    <div class="board hover file-item">
        <div class="file-item-icon">
            <i class="fa-solid fa-file fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>