<template v-if="item.isPathError">
    <a v-if="item.fileType==type.workDir" href="javascript:void(0)">
        <div class="board hover file-item" v-bind:class="{first: idx===0}">
            <div class="file-item-icon">
                @* <i class="fa-solid fa-folder fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-folder-plus fa-3x fa-fw"></i> *@
                <i class="fa-solid fa-folder-minus fa-3x fa-fw"></i>
                @* <i class="fa-solid fa-folder-closed fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-folder-open fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-book fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-bookmark fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-paperclip fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-hard-drive fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-server fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-display fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-desktop fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-house-laptop fa-3x fa-fw"></i> *@
                @* <i class="fa-solid fa-house fa-3x fa-fw"></i> *@
            </div>
            <div class="file-item-text">
                <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
                <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
                <div class="file-item-description">{{local.pathNotFound}}</div>
            </div>
        </div>
    </a>
</template>
<template v-if="!item.isPathError">
    <a v-if="item.fileType==type.workDir" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onWorkDirClick(item)">
        <div class="board hover file-item" v-bind:class="{active: selectedPath==getWorkDirPath(item), first: idx===0}">
            <div class="file-item-icon">
                <i class="fa-solid fa-folder-minus fa-3x fa-fw"></i>
            </div>
            <div class="file-item-text">
                <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
                <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
                <div class="file-item-description">
                    <span>{{item.itemCount}} {{local.items}}</span>
                </div>
            </div>
            <div class="file-item-trailing">
                <span v-if="item.historyCount>0" class="badge-circle badge-circle-number">
                    <span>{{item.historyCount}}</span>
                </span>
            </div>
        </div>
    </a>
</template>
<a v-if="item.fileType==type.folder" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item), first: idx===0}">
        <div class="file-item-icon">
            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">
                <span>{{item.itemCount}} {{local.items}}</span>
            </div>
        </div>
        <div class="file-item-trailing">
            <span v-if="item.historyCount>0" class="badge-circle badge-circle-number">
                <span>{{item.historyCount}}</span>
            </span>
        </div>
    </div>
</a>
<template v-if="!isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderView/_VideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderView/_AudioPartial")
    </a>
</template>
<template v-if="isAndroidUseDeepLink">
    <a v-if="item.fileType==type.video" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderView/_VideoPartial")
    </a>
    <a v-if="item.fileType==type.audio" href="javascript:void(0)" v-on:click="onVideoItemClick(item)">
        @await Html.PartialAsync("_FolderView/_AudioPartial")
    </a>
</template>
<a v-if="item.fileType==type.text" :href="item.link" :target="linkTarget" :rel="linkRel" v-on:click="onItemClick(item)">
    <div class="board hover file-item" v-bind:class="{active: selectedPath==getItemPath(item), first: idx===0}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">
                <span>{{item.fileSize}}</span>
            </div>
        </div>
        <div class="file-item-trailing">
            <span v-if="item.hasHistory" class="badge-circle badge-circle-check">
                <i class="fa-solid fa-check"></i>
                @* <i class="fa-regular fa-circle-check"></i> *@
                @* <i class="fa-solid fa-clock-rotate-left"></i> *@
            </span>
        </div>
    </div>
</a>
<a v-if="item.fileType==type.other" href="javascript:void(0)">
    <div class="board hover file-item" v-bind:class="{first: idx===0}">
        <div class="file-item-icon">
            <i class="fa-solid fa-file fa-3x fa-fw"></i>
        </div>
        <div class="file-item-text">
            <div v-if="!hasSearch" class="file-item-title">{{item.name}}</div>
            <div v-if="hasSearch" class="file-item-title" v-html="item.nameWithMark"></div>
            <div v-if="hasSearch" class="file-item-sub-title">
                <span class="file-item-sub-title-icon">
                    <i class="fa-solid fa-tag fa-fw"></i>
                </span>
                <span>{{item.searchDirPath}}</span>
            </div>
            <div class="file-item-description">{{item.fileSize}}</div>
        </div>
    </div>
</a>
<div v-if="item.fileType==type.image" class="file-image-block">
    <div class="image-wrap" v-bind:class="{first: idx===0, ['scale'+imageScale]: true}">
        <img :key="viewMode" v-image-lazy-load="routeLink('api/file/image', item.workNum, item.path)" loading="lazy" width="1324" height="320" />
    </div>
</div>