@page "/folder/{workNum}/{*path}"
@model FileBrowser.Pages.FolderModel
@{
    Layout = "_Layout";
}

@section header {
    <script>
        var initialData = @Html.Raw(Model.Data);
    </script>
}

@section theme {
    <script>checkTheme()</script>
}

    <div id="app" class="layout">

        @await Html.PartialAsync("_HeaderPartial", 
            new Header(HeaderMode.Theme))

        <div class="container">
            <div class="main">
                <div class="main-inner">
                    <div class="board file-navbar sticky">
                        <div class="start mw-1x">
                            <div class="file-navbar-btn">
                                <a v-if="dirPath==''" href="">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a>
                                <a v-if="dirPath!=''" :href="routeLink('folder', workNum, parentDirPath)">
                                    <i class="fa-solid fa-arrow-left fa-fw"></i>
                                </a>
                            </div>
                            <div class="file-navbar-title-warp mw-1x">
                                <div class="file-navbar-title">{{dirName}}</div>
                                <div class="file-navbar-title-over-warp">
                                    <div class="file-navbar-title-over">{{dirName}}</div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="end">
                            <div class="file-navbar-btn file-navbar-toggle show">
                                <a href="javascript:void(0)">
                                    <span class="up">
                                        <i class="fa-solid fa-angle-up fa-fw"></i>
                                    </span>
                                    <span class="down">
                                        <i class="fa-solid fa-angle-down fa-fw"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="file-navbar-btn file-navbar-gotop">
                                <a href="javascript:void(0)">
                                    <i class="fa-regular fa-circle-up fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block file-navbar-expand">
                        <div class="start">
                        </div>
                        <div></div>
                        <div class="end">
                            <div class="file-navbar-btn">
                                <a href="javascript:void(0)" v-on:click="onViewModeChange">
                                    <div v-if="viewMode=='view'" class="file-navbar-btn-warp">
                                        <i class="fa-solid fa-table-list fa-fw"></i>
                                        <span class="file-navbar-btn-text">瀏覽</span>
                                    </div>
                                    <div v-if="viewMode=='download'" class="file-navbar-btn-warp">
                                        <i class="fa-solid fa-cloud-arrow-down fa-fw"></i>
                                        <span class="file-navbar-btn-text">下載</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div v-if="isLoaded && datas.length > 0">
                        <div v-for="item in datas">
                            <div v-if="viewMode=='view'">
                                <a v-if="item.fileType==type.folder" :href="routeLink('folder', workNum, item.path)" v-on:click="onScrollPos">
                                    <div class="board hover file-item">
                                        <div class="file-item-icon">
                                            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.itemCount}}</div>
                                        </div>
                                    </div>
                                </a>
                                <a v-if="item.fileType==type.video" :href="item.videoLink" v-on:click="onScrollPos">
                                    <div class="board hover file-image-item">
                                        <div class="file-image-item-icon">
                                            <img :src="routeLink('api/file/thumbnail', workNum, item.path)" />
                                        </div>
                                        <div class="file-image-item-text">
                                            <div class="file-image-item-title">{{item.name}}</div>
                                            <div class="file-image-item-description">{{item.fileSize}}</div>
                                        </div>
                                    </div>
                                </a>
                                <a v-if="item.fileType==type.audio" :href="routeLink('audio', workNum, item.path)" v-on:click="onScrollPos">
                                    <div class="board hover file-item">
                                        <div class="file-item-icon">
                                            <i class="fa-solid fa-file-audio fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.fileSize}}</div>
                                        </div>
                                    </div>
                                </a>
                                <a v-if="item.fileType==type.text" :href="routeLink('text', workNum, item.path)" v-on:click="onScrollPos">
                                    <div class="board hover file-item">
                                        <div class="file-item-icon">
                                            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.fileSize}}</div>
                                        </div>
                                    </div>
                                </a>
                                <a v-if="item.fileType==type.other" href="javascript:void(0)">
                                    <div class="board hover file-item">
                                        <div class="file-item-icon">
                                            <i class="fa-solid fa-file fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.fileSize}}</div>
                                        </div>
                                    </div>
                                </a>
                                <div v-if="item.fileType==type.image" class="file-image-block">
                                    <img :src="routeLink('api/file/image', workNum, item.path)" />
                                </div>
                            </div>
                            <div v-if="viewMode=='download'">
                                <a v-if="item.fileType==type.folder" :href="routeLink('folder', workNum, item.path)" v-on:click="onScrollPos">
                                    <div class="board hover file-item">
                                        <div class="file-item-icon">
                                            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.itemCount}}</div>
                                        </div>
                                    </div>
                                </a>
                                <a v-if="item.fileType!=type.folder" :href="routeLink('api/file/download', workNum, item.path)">
                                    <div class="board hover file-item">
                                        <div v-if="item.fileType==type.video" class="file-item-icon">
                                            <i class="fa-solid fa-circle-play fa-3x fa-fw"></i>
                                        </div>
                                        <div v-if="item.fileType==type.audio" class="file-item-icon">
                                            <i class="fa-solid fa-file-audio fa-3x fa-fw"></i>
                                        </div>
                                        <div v-if="item.fileType==type.text" class="file-item-icon">
                                            <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
                                        </div>
                                        <div v-if="item.fileType==type.image" class="file-item-icon">
                                            <i class="fa-solid fa-file-image fa-3x fa-fw"></i>
                                        </div>
                                        <div v-if="item.fileType==type.other" class="file-item-icon">
                                            <i class="fa-solid fa-file fa-3x fa-fw"></i>
                                        </div>
                                        <div class="file-item-text">
                                            <div class="file-item-title">{{item.name}}</div>
                                            <div class="file-item-description">{{item.fileSize}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_FooterPartial")
                
            </div>
        </div>
    </div>
    <div class="control">
        <a class="button gotop" href="javascript:void(0)">
            <i class="fa-solid fa-angle-up"></i>
        </a>
    </div>

@section script {
    <script src="js/page/folder.js?v=@v"></script>
}