@page
@model FileBrowser.Pages.SettingModel
@{
    Layout = "_Layout";
}

<div class="main">
    <div class="board title freeze">
        <div class="title-btn">
            <a href="@Href("~/")" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="title-text">設定</div>
    </div>
    <div class="board">
        <div class="form-field first">
            <div class="label">Theme</div>
            <div class="label-description" style="margin-bottom: 5px">深色或淺色模式。</div>
            <div>
                <div id="theme" class="theme-cicles">
                    <div class="theme-cicle dark" data-val="dark" onclick="onTheme(this)">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="theme-cicle light" data-val="light" onclick="onTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <input type="hidden" name="theme" value="" />
                </div>
            </div>
        </div>
        <div class="form-field">
            <div class="label">Text Theme</div>
            <div class="label-description" style="margin-bottom: 5px">文字瀏覽時使用的顏色主題。</div>
            <div>
                <div id="textTheme" class="theme-cicles">
                    <div class="theme-cicle dark" data-val="dark" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="theme-cicle dark-blue" data-val="dark-blue" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="theme-cicle light" data-val="light" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <div class="theme-cicle yellow" data-val="yellow" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <div class="theme-cicle orange" data-val="orange" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <div class="theme-cicle blue" data-val="blue" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <div class="theme-cicle green" data-val="green" onclick="onTextTheme(this)">
                        <i class="fa-solid fa-check dark"></i>
                    </div>
                    <input type="hidden" name="textTheme" value="" />
                </div>
            </div>
        </div>
        <div class="form-field">
            <div class="label">Use Deep Link</div>
            <div class="label-description">手機上是否使用 APP 開啟影片連結。</div>
            <div class="checkbox-warp">
                <div id="isUseDeepLink" class="checkbox" onclick="onIsUseDeepLink(this)">
                    <input type="checkbox" name="isUseDeepLink" value="" />
                    <div class="checkbox-mark"></div>
                    <div class="checkbox-text">啟用</div>
                </div>
            </div>
        </div>
        <div class="form-field last">
            <div class="label">Deep Link Package</div>
            <div class="label-description center">手機上指定特定 APP 開啟影片連結。</div>
            <div class="label-description">預設會讓使用者選擇</div>
            <div>
                <input type="text" id="deepLinkPackage" data-prev="" value="" placeholder="com.mxtech.videoplayer.ad" onblur="onDeepLinkPackage(this)" />
            </div>
        </div>
    </div>

    <div class="notice-warp">
        <!--<div class="notice success">已儲存變更。</div>-->
    </div>
    <div class="notice-placeholder"></div>
    
    @await Html.PartialAsync("_ControlPartial", new Control())
</div>
     
@section script {
    <script src="@Url.Content("~/js/setting.js")"></script>
}
