@page "/text/{worknum}/{path?}"
@model FileBrowser.Pages.TextModel
@{
    Layout = "_Layout";
}

<div class="main">
    <div class="board">
        <div class="text-title">@Model.Title</div>
    </div>
    <div class="board">
        <div class="text-content">@Model.Context</div>
    </div>

    @await Html.PartialAsync("_ControlPartial", new Control())
</div>
