@page "/text/{worknum}/{path?}"
@model FileBrowser.Pages.TextModel
@{
    Layout = "_Layout";
}

<div class="main">
    <div class="board title freeze">
        <div class="title-btn">
            <a href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", Model.ParentDirPath)" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="title-text">@Model.FileName</div>
    </div>
    <div class="board">
        <div class="text-content">@Model.Context</div>
    </div>

    @await Html.PartialAsync("_ControlPartial", 
        new Control(true, Model.WorkNum, Model.FilePath, Model.ParentDirPath))
</div>
