@page "/video/{worknum}/{path?}"
@model FileBrowser.Pages.VideoModel
@{
    Layout = "_Layout";
}

@section header {
    <link href="https://vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/video.css")">
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script>
        storage.setIsOpen(false);
    </script>
}

<div class="video-warp" onclick="onLink(event)">
    <div class="board">
        <div>@Model.Title</div>
    </div>
    <video-js id="player" class="video-js vjs-big-play-centered vjs-16-9"></video-js>
    
    @await Html.PartialAsync("_ControlPartial", new Control())
</div>

@section script {
    <script>
        var player = videojs('player', {
            sources: [{ src: "@UrlEx.PageRouteLink("api/file/video", $"{Model.WorkNum}", Model.VideoPath)" }],
            controls: true,
            autoplay: false,
            preload: 'auto',
            fluid: true,
            controlBar: {
                pictureInPictureToggle: false
            }
        });
        player.on('ready', function() {
            var volume = storage.volume();
            player.volume(volume);
        });
        player.on('volumechange', function() {
            var volume = player.volume();
            storage.setVolume(volume);
        });
    </script>
}
