@page "/"
@model FileBrowser.Pages.WorkDirModel
@{
    Layout = "_Layout";
}

<div class="main">
    <div class="board title freeze">
        <div>檔案瀏覽器</div>
        <div class="title-btn-right">
            <a href="@Url.Page("setting")" onclick="onLink(event)">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
    </div>
    @if(Model.WorkDirs.Count > 0)
    {
        @foreach(var item in Model.WorkDirs)
        {
            @if (!item.IsPathError)
            {
                <a href="@UrlEx.PageRouteLink("files", $"{item.Index+1}", "")">
                    <div class="board file-item">
                        <div class="file-icon">
                            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
                        </div>
                        <div class="file-text">
                            <div class="file-title">@item.Name</div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="javascript:void(0)">
                    <div class="board file-item">
                        <div class="file-icon">
                            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
                        </div>
                        <div class="file-text">
                            <div class="file-title">@item.Name</div>
                            <div class="file-description">路徑錯誤</div>
                        </div>
                    </div>
                </a>
            }
        }
    }
    else
    {
        <div class="board">
            <div>未設定工作目錄</div>
        </div>
    }

    @await Html.PartialAsync("_ControlPartial", new Control(false))
</div>