@page "/"
@model FileBrowser.Pages.WorkDirModel
@{
    Layout = "_Layout";
}

<div class="main">
    <div class="board workdir-title">
        <div>檔案瀏覽器</div>
        <div class="setting-link">
            <a href="@Url.Page("setting")" onclick="onLink(event)">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
    </div>
    @if(Model.WorkDirs.Count > 0)
    {
        <div class="folder-box">
            @foreach(var item in Model.WorkDirs)
            {
                <div class="board folder-item">
                    <div class="folder-icon">
                        <i class="fa-solid fa-folder fa-3x"></i>
                    </div>
                    @if (!item.IsPathError)
                    {
                        <a href="@UrlEx.PageRouteLink("files", $"{item.Index+1}", "")"  onclick="onLink(event)">
                            <div class="folder-text">
                                <div class="folder-title">@item.Name</div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="onLink(event)">
                            <div class="folder-text">
                                <div class="folder-title">@item.Name</div>
                                <div class="folder-description">路徑錯誤</div>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="board">
            <div>未設定工作目錄</div>
        </div>
    }

    @await Html.PartialAsync("_ControlPartial", new Control(false))
</div>