@model FileBrowser.Models.Control

<div class="control" style="display: none">
    @if(Model.ShowHome)
    {
        <a class="button home" href="@Href("~/")" onclick="onLink(event)">
            <i class="fa-solid fa-house"></i></a>
        @if (Model.FilePath == "")
        {
            <a class="button back" href="@Href("~/")" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left fa-lg"></i>
            </a>
        }
        else
        {
            <a class="button back" href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", Model.ParentDirPath)" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left fa-lg"></i>
            </a>
        }
    }
</div>
