@model FileBrowser.Models.Control

<div class="control" style="display: none">
    @if(Model.ShowHome)
    {
        <a href="@Href("~/")" class="button" onclick="onLink(event)">
            <i class="fa-solid fa-house"></i></a>
    }
</div>
