
<div class="control" style="display: none">
    <a href="@Href("~/")" onclick="onLink(event)" class="button">
        <i class="fa-solid fa-house"></i></a>
    <a href="javascript:void(0)" onclick="onBack(event)" class="button">
        <i class="fa-solid fa-arrow-left fa-lg"></i></a>
</div>