<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileBrowser</title>
    <base href="/">

    <link rel="shortcut icon" href="icon/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/tooltip.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/progress.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/spinner.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/toast.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/layout.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/layout-theme.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/file.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/file-theme.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/form.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fysh711426.github.io/mini-form-ui/form-theme.css?v=@v" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/layout.css?v=@v">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.statically.io/gh/fysh711426/fysh711426.github.io/master/cdn/vue.min.js"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/theme.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/scroll.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/tooltip.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/progress.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/spinner.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/toast.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/layout.js?v=@v" crossorigin="anonymous"></script>
    <script src="https://fysh711426.github.io/mini-form-ui/file.js?v=@v" crossorigin="anonymous"></script>
    <script src="js/storage.js?v=@v"></script>
    <script src="js/mixins/layoutMixin.js?v=@v"></script>

    @RenderSection("Header", false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZKLLQXNS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QZKLLQXNS6');
    </script>
</head>

<body>
    @RenderSection("Theme", false)

    @RenderBody()

    @RenderSection("Script", false)
</body>

</html>